[2014-09-08 19:38] ghost opened #1 "Lynis doesn't seem to be aware of symlinks when scanning various bindirs"
I'm using a distro which has all classical bindirs (/bin, /sbin, /usr/sbin, etc.) symlinked to /usr/bin, so only the actual directory (/usr/bin in my case) should be scanned. What happens for me is every symlink seems to be scanned, effectively meaning the same folder is scanned multiple times.

[code]

[2014-09-08 20:23] Pyrohh opened #2 "systemd-timesyncd status isn't checked when checking for NTP implementations"
I see ntpd and a few other NTP daemons being scanned by Lynis, so it's seems reasonable to scan for systemd's variant as well.

systemd-timecyncd's status can be retrieved via `systemctl is-enabled systemd-timesyncd` and `systemctl is-active systemd-timesyncd`, which both return 0 on a service being enabled and active respectively.

[2014-09-09 09:22] mboelen opened #3 "Detect usage of rootsh"
Rootsh is a wrapper for shells which logs all echoed keystrokes and terminal output to a file and/or to syslog. It's main purpose is the auditing of users who need a shell with root privileges. They start rootsh through the sudo mechanism.

[2014-09-09 15:45] #1 closed, assigned to mboelen

[2014-09-13 21:36] mikkolehtisalo opened #4 "More RPM related checks"
I made a quick hack designed to detect installed unsigned packages, and signs of application installation from outside the package manager. Although not always a security issue, that kind of mismanagement can easily lead to one. Installing software from outside the official sources can prove fatal if not done in controlled manner...

You might want to take a look at what I did, and consider includ

[2014-09-20 06:02] d4t4king opened #5 "Kernel Version Sorting Issue - Test #KRNL-5830"
The "most current" kernel detection is off.  It has to do with the sorting, but I'm not quite sure how to fix it 100% (thus no email with a patch ;-) ).

Changing the simple `sort` at the end of line # 495, in `include/tests_kernel`, to this:

[code]

...will get you to the hyphenated part of the version number.  Adding something like:

[code]

....borks the whole thing, so I'm not quite sure wher

[2014-09-22 10:18] #5 closed, assigned to mboelen

[2014-09-23 17:16] mboelen opened #6 "Add support for Gentoo package auditing: glsa-check"
glsa-check -t all

[2014-09-23 19:51] d4t4king opened #7 "Bootloader not detected for Gentoo VM"
Grub is installed.

[2014-09-23 19:53] d4t4king opened #8 "mod_evasive not detected"
mod_evasive is not detected, though it is installed (but not configured).

File listing from gentoo package:

[code]

[2014-09-23 20:01] d4t4king opened #9 "Running kernel not found on disk [KRNL-5830]"
Gentoo contains a utility to simplify kernel building and installation, called genkernel.  Genkernel names the kernel files kernel-genkernel-{*arch*}-{*version*}-gentoo(-r_n_), instead of _vmlinuz_.

Example:  current running kernel is `/boot/kernel-genkernel-x86-3.14.16-gentoo`.

[2014-09-23 20:57] #6 closed, assigned to mboelen

[2014-09-23 22:17] #8 closed, assigned to mboelen

[2014-09-24 06:15] d4t4king opened #10 "Boot loader not detected for Mac OS X (10.9.5)"
I know little to nothing about how OS X boots.  Let me know what information you need.  I'll post here or send via email, depending on size and confidentiality.

[2014-09-24 15:10] mboelen opened #11 "Addition to USB storage test [STRG-1840]"
the USB storage test should also consider whether
authorized_default is set. Because even though the best option is to not
have any USB drivers available, this option still somewhat mitigates
this issue.

See:
https://www.kernel.org/doc/Documentation/usb/authorization.txt

Some tips also in here
https://github.com/pyllyukko/harden.sh/commit/193bda50c149fdd66dc04908fa71c189333b498a

[2014-10-04 03:53] d4t4king opened #14 "Boot loader not detected for Fedora 17"
/boot is mounted.  /boot/grub2/grub.cfg exists.

[2014-10-06 19:30] #14 closed, assigned to mboelen

[2014-10-07 04:06] d4t4king opened #16 "Nameserver check doesn't dismiss duplicates"
Test # NETW-2705 is "fooled" by entering the same nameserver more than once in `/etc/resolv.conf`.  This doesn't, technically, satisfy the 2 resolver requirement implied by the check.

[2014-10-08 22:42] #7 closed, assigned to mboelen

[2014-10-08 22:44] #4 closed, assigned to mboelen

[2014-10-11 07:23] d4t4king opened #18 "Gentoo glsa-check needs tweaking"
It would appear that ALL (or, at least most) output from `glsa-check` is sent to STDERR.  As is, lynis expects the string "This system is affected by the following GLSAs:", if the system has vulnerable packages (filtering that particular string out).

If the system does NOT have vulnerable packages, `glsa-check` send the following string to STDERR:  "This system is not affected by any of the liste

[2014-10-13 08:39] #18 closed, assigned to mboelen

[2014-10-13 08:50] #16 closed, assigned to mboelen

[2014-10-13 14:47] ghost opened #20 "FILE-6336 fails if option field contains anything else"
While "Checking swap mount options", if there is a `discard` option in the line, in addition to the `sw` option, it fails.
You may want to avoid checking the whole field, rather using a regex to check the occurence of `sw`.

[code]

[2014-10-13 19:02] mboelen opened #21 "YUM has by default security checks in it, like CentOS 7"
Add functionality to determine if built-in support is available, to run the yum security functionality.

[2014-10-13 20:11] mboelen opened #22 "Support for Chrony"
Red Hat RHEL 7 uses Chrony by default. Initial support for Chrony should be added.

[2014-10-14 07:31] #20 closed, assigned to mboelen

[2014-11-04 13:14] #3 closed, assigned to mboelen

[2014-11-07 05:12] d4t4king opened #23 "Strict UMASK breaks gnome login"
Setting strict umasks in `/etc/login.defs` and `/etc/init.d/rc` causes gnome to fail when loading the login screen.

This isn't an issue with Lynis, per se, except that the recommendation is to set the umask to 022.

[2014-11-07 13:57] #23 closed, assigned to mboelen

[2015-01-27 14:37] mboelen opened #24 "Swap detection with Linux"
Due to differences in Linux distros, the swap test should be altered, combining different possibilities.

       #FIND=`awk '{ if ($3=="swap" && ($4!="sw" && $4!="swap" && $4!="defaults")) print $1 }' /etc/fstab`

        FIND=`awk '{ if ($2=="swap" && $3~/sw/) { print $1 }}' /etc/fstab`

[2015-03-09 20:51] centminmod opened #25 "Software: webserver = too many arguments errors at line 772"
manually installed lynis 2.0 tarball on CentOS 7 system which has my own centminmod.com LEMP web stack installed.

running command

    lynis --auditor "centminmod.com initial run" -c -Q --profile /usr/local/lynis/default.prf

gives me errors at

    [+] Software: webserver
    ------------------------------------
      - Checking Apache                                           [ NOT FOUND ]

[2015-03-09 20:54] centminmod opened #26 "lynis --profile options available ?"
I did tarball lynis 2.0 install but confused as to whether there is a profile specifically for CentOS  ?

what is correct syntax for --profile and what are all available options for linux distrubutions available ?

    lynis --auditor "centminmod.com initial run" -c -Q --profile CentOS

    [ Lynis 2.0.0 ]

    ################################################################################
     L

[2015-03-09 20:58] mboelen commented on #26
Profiles are meant to define a scan should be done. There is a default profile, named default.prf, which you optionally can copy and alter. This is useful to avoid the file being overwritten, or using different profiles for different types of scans. No need to specify the OS, as Lynis will detect that and adjust tests to what it discovered.

[2015-03-09 20:58] #26 closed

[2015-03-09 21:02] centminmod opened #27 "lynis 2.0 expose_php false detection ?"
I ran lynis 2.0 on a CentOS 7 server installed with my custom CentminMod.com LEMP stack where Nginx and PHP-FPM are source compiled.

Lynis detects and reports expose_php is ON while in fact it is OFF

        [+] PHP
    ------------------------------------
      - Checking PHP                                              [ FOUND ]
        - Checking PHP disabled functions

[2015-03-09 21:06] centminmod opened #28 "Check for CSF Firewall"
Firewall check in lynis 2.0 doesn't check for CSF Firewall http://configserver.com/cp/csf.html which is commonly used in cpanel.net based control panel installs as well as standalone on CentOS servers.

I use CSF Firewall for CentminMod.com LEMP stack by default which interfaces with iptables http://centminmod.com/csf_firewall.html

    [+] Software: firewalls
    ---------------------------------

[2015-03-09 21:12] centminmod commented on #26
thank @mboelen for the clarification :)

[2015-03-09 21:30] centminmod opened #29 "--check-update for tarball manual install"
does `lynis --check-update` auto download latest version for tarball manual installs to /usr/local/lynis ?

or do I need to script my own cronjob for updating tarball manual installs

thanks

[2015-03-09 21:36] mboelen commented on #29
The latter. We suggest people always to test running new releases, especially because the software is usually executed as root.

[2015-03-09 21:36] #29 closed

[2015-03-09 21:54] centminmod opened #30 "Accounting auditd - not for OpenVZ virtualized containers"
In virtualized containers for OpenVZ or Parallels Virtuozzo, auditd kernel doesn't work by design. So when you report auditd is not found in Accounting section, maybe also do a check for see if Lynis is being run within an OpenVZ like container and make a note as such ?

i.e.

NOT FOUND (Not supported in OpenVZ kernels) ?

    [+] Accounting
    ------------------------------------
      - Checkin

[2015-03-09 21:56] centminmod commented on #29
thanks @mboelen :)

[2015-03-10 00:18] centminmod opened #31 "Add /usr/local/lynis/default.prf path to tPROFILE_TARGETS array"
Official README https://github.com/CISOfy/Lynis/blob/master/README suggests to create directory at /usr/local/lynis for installation but this path is not checked for in lynis itself ?

I symlinked lynis to /usr/bin/lynis so if you run lynis by itself it hangs as it can't find default.prf

so maybe add /usr/local/lynis/default.prf path to tPROFILE_TARGETS array ?

    # Try to find a default profil

[2015-03-10 00:46] centminmod commented on #27
also my additional .ini files registered by PHP configscandir compile option

    php --ini
    Configuration File (php.ini) Path: /usr/local/lib
    Loaded Configuration File:         /usr/local/lib/php.ini
    Scan for additional .ini files in: /etc/centminmod/php.d
    Additional .ini files parsed:      /etc/centminmod/php.d/a_customphp.ini,
    /etc/centminmod/php.d/curlcainfo.ini,
    /etc/ce

[2015-03-10 15:52] centminmod commented on #30
seems same applies to psacct for process accounting not supported in OpenVZ kernels so a note for auditd and psacct is needed when OpenVZ virtualized containers are detected

    -- Subject: Unit psacct.service has begun with start-up
    -- Defined-By: systemd
    -- Support: http://lists.freedesktop.org/mailman/listinfo/systemd-devel
    --
    -- Unit psacct.service has begun starting up.
    M

[2015-03-13 20:37] absorber opened #32 "Invalid permissions despite running as root."
As a standard user all I did was `git clone https://github.com/CISOfy/Lynis.git`, afterwards I went into the git dir and did this:

[code]

After setting the appropriate permissions for the files, it still asked me to change permission of certain files:

[code]

Afterwards, I simply did `sudo chown -R root:root Lynis/`, went into the Lynis git dir again but now **as root** and did `./lynis -c`. Th

[2015-03-16 14:53] mboelen commented on #32
Thanks for sharing. Lynis checks the permissions, to ensure a normal user can't alter the files and then force the root user to perform those commands. So this behavior is expected and not a bug..

Option 1
What you can do is is fetch the files as a normal user, use sudo to change ownership and then run Lynis with sudo permissions.

Option 2
Do the git clone as root.

Option 3
Do the git clone as

[2015-03-16 14:53] #32 closed

[2015-03-17 17:59] mboelen commented on #28
Initial CSF detection has been added. Thanks for submitting this request.

[2015-03-17 17:59] #28 closed

[2015-03-17 18:03] mboelen commented on #25
Patch submitted. Can you check if this removes the warning message?

[2015-03-17 18:06] mboelen commented on #31
Thanks, path has added.

[2015-03-17 18:06] #31 closed

[2015-03-17 18:07] mboelen commented on #9
Closing issue, latest testing did not show this issue. Please let me know if it is still the case.

[2015-03-17 18:07] #9 closed

[2015-03-18 00:43] centminmod commented on #28
cheers you have a typo in line 245 missing csf directory name https://github.com/CISOfy/Lynis/commit/a12876e472b0a75a95a13d2d1f295ca6fbcc51ee#diff-5bf84564ef65aeccb19174001a2c1adbR245

[2015-03-18 09:42] mboelen commented on #28
Thanks, changed full path into variable.

[2015-03-25 14:52] mboelen commented on #25
@centminmod does it work for you correctly with the latest changes?

[2015-03-25 15:29] aschmidt75 opened #33 "./lynis audit Dockerfile says " Error: Invalid option 'Dockerfile'""
[code]

both in a vm (Linux vagrant-ubuntu-trusty-64 3.13.0-24-generic #47-Ubuntu SMP Fri May 2 23:30:00 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux) and OSX.

Do i use this in a wrong way? According to docs
[code]

[2015-03-25 16:33] mboelen commented on #33
Typo in the help. It should be "audit dockerfile".
Files have been corrected, thanks for reporting.

[2015-03-25 16:33] #33 closed

[2015-03-25 16:37] aschmidt75 commented on #33
That was easy :) It's working now!
Thank you!

[2015-04-07 03:28] marios-zindilis opened #34 "Unclear wording in suggestion"
In the file `include/tests_hardening` line 105 reads: `ReportSuggestion ${TEST_NO} "Harden the system by installing one or malware scanners to perform periodic file system scans"`.

This is not clear. Did you mean "one or **more** malware scanners"? Did you mean "one **of** malware scanners"?

[2015-04-07 16:49] mboelen commented on #34
Thanks for reporting this. The related description has been improved.

[2015-04-07 16:49] #34 closed

[2015-04-08 06:12] msx opened #35 "I'm confused: lynis-2.0.0.tar.gz contains lynis 1.6.4"
Hello,
I downloaded the package mentioned in the subject from the website but when running Lynis it says it is version 1.6.4; furthermore, issuing --check-update effectively tag it as outdated.

/me scratches his head trying to figure out what's happening here...

[2015-04-08 06:14] msx commented on #35
Forgive me, I'm asleep and was running the version installed through the packet manager :clap:

[2015-04-08 06:14] #35 closed

[2015-04-08 06:58] mboelen commented on #35
No problem :)

[2015-04-25 22:54] sklerder opened #36 "When checking "logrotates" properties, subdirectories are not well took into acccount."
Actually, at line 277 of "~lynis/include/tests_logging", the check is made against :
sed 's/\/[a-zA-Z_.-]$//g' | sort | uniq
It should be done against :
sed 's//[^/]$//g'
But because we are checking against a string that should contain a "/", it's better to chack with :
sed 's@/[^/]$@@g'

Pull request #37 available including this correction.

[2015-04-25 22:59] sklerder commented on #36
Actually, at line 277 of "~lynis/include/tests_logging", the check is made against :
sed 's/\/*[a-zA-Z_.-]*$//g' | sort | uniq
It should be done against :
sed 's//[^/]*$//g'
But because we are checking against a string that should contain a "/", it's better to chack with :
sed 's@/[^/]*$@@g'

[2015-04-27 18:20] tas50 opened #41 "OS X Application firewall not detected"
Apple ships OS X with pf, but also with their application level firewall.  Lynis should also check the status of that firewall.  /usr/libexec/ApplicationFirewall/socketfilterfw --getglobalstate shows you the status of the firewall.  It could be added if that binary was detected.  I'm not sure if you want to keep adding more and more paths to the binary search path list or if you have a more ideal

[2015-04-29 10:04] mboelen commented on #25
Timed out, considering issue resolved.

[2015-04-29 10:37] centminmod commented on #25
sorry for late reply been sick with the flu :(

just tested and same error

    [+] Software: webserver
    ------------------------------------
      - Checking Apache                                           [ NOT FOUND ]
      - Checking nginx                                            [ FOUND ]
        - Searching nginx configuration file                      [ FOUND ]
          - Found nginx

[2015-04-29 11:48] mboelen commented on #25
No worries, glad that you do confirm now.

In that case you have something behind your access_log statement, right? Can you share the lines from your configuration?

[2015-04-29 14:27] centminmod commented on #25
here's my access_log lines

    access_log  logs/access.log combined buffer=128k flush=15m;
    error_log   logs/error.log warn;

[2015-04-29 14:36] mboelen commented on #25
Does it work with the latest patch? (I edited by previous comment, due to this patch)

[2015-04-29 14:39] centminmod commented on #25
doh sorry i install Lynix via a shell script and it was set to latest tag via github not the master branch

      cd /usr/local
      git clone https://github.com/CISOfy/Lynis.git lynis
      cd lynis
      LATEST_TAG=$(git tag | sort -V | tail -1)
      git branch -a
      git branch -D lynis-local
      git checkout -b lynis-local $LATEST_TAG

[2015-04-29 14:43] centminmod commented on #25
latest master branch Lynis works without the too many arguments error :+1:

    [+] Software: webserver
    ------------------------------------
      - Checking Apache                                           [ NOT FOUND ]
      - Checking nginx                                            [ FOUND ]
        - Searching nginx configuration file                      [ FOUND ]
          - Found nginx

[2015-04-29 16:06] mboelen commented on #25
Great, in that case closing the issue. Thanks again for reporting it.

[2015-04-29 16:06] #25 closed

[2015-04-29 16:40] sklerder opened #44 "Umask settings not checked in test_shells"
Umask settings are not checked in SHLL-6240 and SHLL-6250.

- grep wasn't provided the name of the file to check in SHLL-6240 (FIND=`grep "^umask" | awk '{ print $2 }'` without any file to check)
- There was no code for SHLL-6250.

Code included for both in pull request #37

[2015-04-29 16:41] mboelen commented on #41
Hi Tim,

In that case the best option is to make it a prereq for the test, like many tests have. Adding the path to binary search is not preferred in this case :)
So if file /usr/libexec/ApplicationFirewall/socketfilterfw exists, prereq is met and test will be executed.

Currently don't have a Mac running here. So if you can share the output, we can create the test very easily.

[2015-05-02 00:06] tas50 opened #45 "MOTD not detected on Ubuntu with update-motd"
Ubuntu systems can use update-motd to generate a motd file from .d files.  If you have this setup Lynis doesn't see your MOTD file.

[2015-05-02 01:46] denydias opened #46 "Test 5830 fails for stock Slackware kernels"
Hi,

I'm getting some exceptions running Lynis on Slackware.

[code]

A stock Slackware `/boot` layout is:

[code]

As you can see, Lynis is looking for `vmlinuz-huge.3.18.11`, while the stock kernels are `vmlinuz-huge-3.18.11`.

It would be nice to have a proper treatment for this.

[2015-05-03 08:46] schewara opened #47 "Sophos is not detected properly MALW-3280"
The test should check savscand process instead of SophosScanD

[2015-05-04 11:38] mboelen commented on #47
Thanks for reporting. Instead of replacing, it has been added, as the latter is for Mac OS systems.
Can you validate if detection is working for you now?

[2015-05-11 07:28] mudongliang opened #48 "https://cisofy.com/controls/FILE-/###/ no exists"
When I click the url in suggestion:
- Install 'ecryptfs-utils' and configure for each user. [FILE-####]
      http://cisofy.com/controls/FILE-####/
The content of this url does not exist!

[2015-05-12 22:22] schewara commented on #47
sorry for getting back so late

just ran a test with the latest master and works fine.

[+] Software: Malware scanners
------------------------------------
  - Checking Sophos                                           [ FOUND ]

Thank you for the Quick Fix

[2015-05-12 22:22] #47 closed

[2015-05-12 22:48] mboelen commented on #48
This seems to be a non-default test. From where did you install Lynis?

[2015-05-13 04:47] mudongliang commented on #48
https://packages.debian.org/jessie/lynis
apt-get install lynis

[2015-05-18 11:33] mboelen commented on #48
Will discuss this with Debian package maintainer.

[2015-05-18 11:35] mboelen commented on #45
Thanks for the input. Can you show an example how you implemented it?

[2015-05-25 15:48] mboelen commented on #2
Support has been implemented for systemd-timesyncd and Chrony. Will be available in next release. Thanks again for sharing!

[2015-05-25 15:48] #2 closed

[2015-05-25 15:49] mboelen commented on #22
Support has been implemented.

[2015-05-25 15:49] #22 closed

[2015-05-25 20:15] mboelen commented on #48
This item will be solved in upcoming Debian packages. Together with the maintainer we will remove the related tests from the Debian package, and move them upstream as much as possible. Since it is not a fix in the code here, this issue will be marked as a "wontfix". Thanks for reporting it!

[2015-05-25 20:15] #48 closed

[2015-05-25 20:57] mboelen commented on #24
Test has been extended, closing issue.

[2015-05-25 20:57] #24 closed

[2015-05-25 21:29] mboelen commented on #46
Thanks for reporting this. A patch have been added to better determine versions. Can you have a look to see if it now detected your running version?

[2015-05-26 07:23] mboelen commented on #41
Hi Tim, can you share your output?

[2015-05-26 07:35] mboelen commented on #36
Change has been applied. Thanks for reporting.

[2015-05-26 07:35] #36 closed

[2015-05-26 07:39] mboelen commented on #21
Closing this item as no reports have been filed.

[2015-05-26 07:39] #21 closed

[2015-05-26 10:31] mboelen commented on #30
Hi, initial patch has been implemented. Can you test latest version from Git and see if it works for you?

[2015-05-26 17:40] Bluewind opened #49 "SSH root login with keys only"
I'd consider this a secure setup and having root login enabled actually makes sense for a couple of reasons:
- Root has reserved memory so if the box runs OOM you can still log in to kill whatever is creating the issue (oom killer doesn't always manage to do that)
- It's really cumbersome to copy files only accessible to root via scp if you can't log in as root
- root is the only one who can log i

[2015-05-26 17:52] mboelen commented on #49
Thanks for the request. While you seem to have a secure setup, one thing might be missing: how did you configure accounting? In other words, how do you know which user logged in a root?

[2015-05-26 18:05] Bluewind commented on #49
Openssh logs the public key and IP when logging in, but I guess that might not be enough for some since executed commands won't be logged. If you want to cater to those users that's fine by me.

[2015-05-26 19:30] mboelen commented on #49
I'm actually thinking of grading the different options:
1) Direct root login allowed
2) Direct root login allowed, with key only
3) Direct root login allowed, with key only, with additional measures (e.g. only 1 root user)
4) No root login allowed

How many users do you have which are allowed to log in directly as root?

[2015-05-26 20:38] Bluewind commented on #49
I have 3, but only I use it semi-regularly.

[2015-05-27 00:36] denydias commented on #46
Hi, @mboelen. Thanks for the fix.

I'm in the middle of very busy days to test this right now. I'm going to test this out in the end of the next week if you don't mind. I'll come back here to report the results. You may close the issue if you want to get rid of it.

[2015-05-27 07:19] conraid commented on #46
Hi, in commit there is a error
... sed 's/vmlinuz-//' sed 's/generic.//' ...
without pipe procude a error,
... sed 's/vmlinuz-//' | sed 's/generic.//' ...
it's ok

[2015-05-27 10:41] mboelen commented on #46
Thanks, changed and committed new version. Working better now?

[2015-05-27 12:51] mboelen commented on #44
Thanks for your feedback. Since we were shuffling some pieces, the pull request can't be used 1-on-1, but we will check out if we got everything from it.

[2015-05-28 08:14] conraid commented on #46
this is the result:

Whithout patch
[code]
With patch
[code]
And kernel in my pc are:
[code]

[2015-05-28 22:20] sklerder commented on #44
Hi !

Yes, and unfortunately, I did the mistake to merge two issues in one pull-request, which was not a good idea, sorry ...

[2015-06-09 07:08] denydias commented on #46
Hi, @mboelen. I'm sorry for the delay to reply. Busy days, got sick...

Testing against 785ac74 commit is works for me. The log now says:

[code]

I think this one is a closed deal. Thanks for you and @conraid for the patch revision.

[2015-06-09 07:13] mboelen commented on #46
Thanks for confirmation, closing issue.

[2015-06-09 07:13] #46 closed

[2015-06-10 09:55] BenjaminSchubert opened #50 "klogd should not be checked with systemd"
Systemd has it own /dev/log implementation, making klogd useless and it seems even [harmful](http://lists.opensuse.org/opensuse-bugs/2011-03/msg04925.html)

However, when running lynis on a systemd system, I still get `klogd is not running, which could lead to missing kernel messages in log files [LOGG-2138]` which seems wrong.

Am I right ? Shouldn't this check be disabled if systemd is running ?

[2015-06-11 09:15] adisatria commented on #27
how to make "expose_php = Off" in Debian ?

[2015-06-13 15:18] quantumpacket commented on #27
Correction to initial bug report, the `php.d/*` directory has nothing to do with PHP-FPM. That is what the `php-fpm.d/*` directory is for.

What's going on here is similar to https://github.com/psecio/iniscan/issues/82 where PHP settings can be defined in additional `.ini` files in  `php.d/*`, **and/or** defined per site pool in PHP-FPM config files in `php-fpm.d/*`.

[2015-06-14 01:39] quantumpacket commented on #45
Isn't `motd` meant for displaying a message after login and `issue`/`issue.net` meant for displaying a message at login prompt? If that is the case, what is the security benefit of using `motd` since a user needs to be authenticated to see it, opposed to the latter which can provide a disclaimer/warning text to a user prior to being authenticated? I use motd, but I see no security benefit to it un

[2015-07-13 22:44] mboelen commented on #50
Lynis actually tests for that and the test should NOT show up when using systemd journalling.
Does Lynis show in the screen output "- Checking systemd journal status" with the result "FOUND"?

[2015-07-14 11:30] BenjaminSchubert commented on #50
You are right, this works. I had an outdated version apparently, now everything works perfectly, thanks !

[2015-07-14 11:30] #50 closed

[2015-07-15 10:22] jamesmacwhite opened #52 "SQD-3624 Incorrectly tagging port number that includes "22""
For the Squid unsafe port check. An entry in my squid.conf is being tagged incorrectly by the grep statement and being interpreted as SSH 22.

**Line in my squid.conf:**

`acl Safe_ports port 2222        # DirectAdmin`

**The grep output is matching it as:**

`acl Safe_ports port 22`

**False positive warning given in audit:**

`Warning: Squid configuration possibly allows relaying traffic via con

[2015-07-15 10:30] jamesmacwhite commented on #52
Perhaps adding the -w flag to the grep line would be a viable solution to prevent false positive matches:

`grep -w "^acl Safe_ports port ${I}" ${SQUID_DAEMON_CONFIG}`

[2015-07-15 11:00] jamesmacwhite commented on #52
https://github.com/CISOfy/lynis/pull/53

[2015-07-15 11:06] mboelen commented on #52
Closing after implementation of pull request #53

[2015-07-15 11:06] #52 closed

[2015-07-22 19:34] tas50 commented on #41
what output exactly do you want?

[2015-07-22 19:38] tas50 commented on #45
I think @quantumpacket has the better point here.  Issue and Issue.net are what you really care about.

[2015-07-22 19:40] mboelen commented on #41
Output of the command you suggested: /usr/libexec/ApplicationFirewall/socketfilterfw --getglobalstate
(or any parameter that might be useful)

Thanks!

[2015-07-22 20:08] tas50 commented on #41
bash-3.2# /usr/libexec/ApplicationFirewall/socketfilterfw --getglobalstate
Firewall is enabled. (State = 1)

[2015-07-23 19:21] d4t4king opened #54 "Nginx SSL Configuration not detected, but enabled."
SSL is enabled in the default virtual host config (/etc/nginx/sites-available/default).  Lynis  reports that SSL should be enabled, indicating that it isn't finding the SSL configuration.

[2015-07-23 19:45] d4t4king commented on #54
This is incorrect.  My config was wrong.  (New server.)

[2015-07-23 19:45] #54 closed

[2015-07-27 09:33] DocEmmetBrown opened #57 "Nginx logs bug"
Hi,

I've come with a bug on parsing nginx logs :

I get this error on every nginx log available : ```
./include/functions: line 781: [: /var/log/nginx/<my_log_file>: binary operator expected
[code]

Thanx for your help

[2015-07-27 23:51] d4t4king commented on #57
Is this from a fresh pull or clone?  I'm not able to reproduce the issue.

[2015-07-28 08:26] DocEmmetBrown commented on #57
It's the 2.1.0 version, installed from the official tarball.

my access log line in the nginx conf looks like that :

[code]

[2015-07-28 13:59] mboelen commented on #57
@DocEmmetBrown Please clone latest version into a new directory, run Lynis and see if it still applies.

[2015-07-28 14:00] mboelen commented on #10
Mac OS X enchancements are planned in a few months. Keeping this item open as an enhancement, so it can be included later on.

[2015-07-29 15:20] DocEmmetBrown commented on #57
sorry, the latest version seems to fix that bug...  my mistake ;)

[2015-07-29 15:20] #57 closed

[2015-07-29 15:26] DocEmmetBrown opened #60 "AUTH-9328 (Default umask values)"
Hi,

when no umask is setted in /etc/profile, the result of the test is :

[code]
because the item :
[code]
returns 0, and the following test is
[code]
doesn't act differently if the result is 0 or a number greater than 1.

[2015-07-29 16:11] DocEmmetBrown opened #61 "BOOT-5180 - runlevel debian Jessie"
Hi,

Debian Jessie's default `runlevel` returns `N 5`, so the BOOT-5180 test returns that it couldn't determine runlevel.

an ugly tweak :

[code]

May be it could be nicer to test if debian version is >= 8.0 ;)

Cheers

[2015-08-20 16:40] mboelen commented on #61
Related patch has been applied to improve detection. Can you test? (it should skip and show no longer a related message/suggestion)

[2015-08-20 16:46] mboelen commented on #60
Patch applied. Can you test if it properly works for your system as well?

[2015-08-22 06:56] YanFird opened #62 "How to run the compliance tests?"
I'm trying to run an hardening compliance tests with Lynis. after the test is done I see:
- **Compliance Test [X]** <br>
Is the Compliance tests only available in the Lynis enterprise suite or I'm missing something?

[2015-08-22 07:30] quantumpacket commented on #62
@YanFird see https://cisofy.com/lynis-enterprise/why-upgrade/ only the online Auditor or Premium offer compliance testing.

[2015-08-22 07:51] mboelen commented on #62
The compliance section is marked with a "[V]" when related tests are performed. Right now, some compliance tests are only available in the full suite, as they collect data and get processed on a central node. Later on, more tests will be created which are also available in the Lynis-only version.

[2015-08-22 07:51] #62 closed

[2015-08-27 06:35] thedrow opened #63 "Exit code should be non-zero when problems are found"
That way I'll be able to use lynis in CI while building docker containers or full blown images.
I plan to add lynis as one of my serverspec tests and for that it is required that lynis will exit with the correct status code.

[2015-08-27 06:38] thedrow opened #64 "Provide debian packages in a PPA"
The project has a PPA but it does not provide any packages.
It could be nice to be able to install this through apt-get.

See PPA here: https://launchpad.net/~cisofy/+archive/ubuntu/lynis

[2015-08-27 06:43] mboelen commented on #63
When fatal errors are found, it exits with exit code 1. When you say "problems", do you include the discovery of warnings/suggestions?

[2015-08-27 06:48] mboelen commented on #64
We tried building them, but the process failed. If someone from the community likes to step in to get this working, we will reconsider building the PPA and maintaining it.

[2015-08-27 08:26] thedrow commented on #63
At the very least, warnings.
You could introduce a --strict mode that treats warnings as errors.

[2015-08-27 08:29] thedrow commented on #64
You could as an alternative provide Debian and RPM packages on bintray which is free for open source projects.
Packaging can be done with FPM.

[2015-08-27 08:34] thedrow opened #65 "When running in CoreOS there are exceptions in the containers tests"
[code]
This doesn't happen in Ubuntu with Docker installed.

[2015-09-01 00:03] d4t4king opened #66 "FILE-6410: /var/lib/locate/locatedb Should be valid (and isn't)"
Checked locations:
`/var/lib/mlocate/mlocate.db
/var/lib/locatedb
/var/lib/slocate/slocate.db
/var/cache/locate/locatedb
/var/db/locate.database`

Linux From Scratch (LFS) and/or some derivations of LFS (smoothwall) store the DB for `updatedb` in the subject path.  It should be checked as a valid path for check FILE-6410

[2015-09-03 13:54] mboelen commented on #65
Patch has been applied and now checks if it finds the right binary. Closing issue, but feel free to reopen if it does not work.

[2015-09-03 13:54] #65 closed

[2015-09-07 19:23] mboelen commented on #66
Changed via pull request, thanks!

[2015-09-07 19:23] #66 closed

[2015-09-08 10:17] mboelen commented on #61
Quick follow-up: did the patch work correctly?

[2015-09-08 10:18] mboelen commented on #61
@DocEmmetBrown did the patch work correctly for you?

[2015-09-08 10:19] mboelen commented on #60
@DocEmmetBrown Patch applied, does it work correctly for you?

[2015-09-09 10:34] DocEmmetBrown commented on #61
Hi @mboelen , sorry I didn't have time to test the patch yet. I promise I'll do it soon and get back to you ;-)

[2015-09-10 07:35] mboelen commented on #63
Initial set of exit codes have been implemented. Updated man page with the details (exit codes). It will trigger on warnings, configuration issues, parameter issues. No additional strict mode has been added, to prevent the list of options becoming too long.

Can you test if this is in line for your automation? Would love to see your build process script, as this might be a great addition to the do

[2015-09-10 08:39] mboelen commented on #64
Marking this item as a wontfix for now. Instead it will moved to our roadmap, as we want to cover all package types, including building several types of the same package. We will determine if bintray is a good alternative for this. Thanks for the suggestion!

[2015-09-10 08:39] #64 closed

[2015-09-12 13:54] mboelen commented on #44
Several changes have been added to include these items. As it was one pull request, it couldn't be merged automatically with the other changes. Have a look at recent changes to see if everything is included, like you intended :)

Thanks!

[2015-09-12 13:54] #44 closed

[2015-09-16 22:39] mboelen commented on #63
Closing issue, as this is considered to be finished work. If not, let me know by reopening.
Thanks for reporting the improvement.

[2015-09-16 22:39] #63 closed

[2015-09-16 22:42] mboelen commented on #60
Several improvements have been made to properly detect the umask values. Closing this issue, to keep the list clean. When something still needs attention, reopen the issue.

Thanks for reporting this issue!

[2015-09-16 22:42] #60 closed

[2015-09-16 22:43] mboelen commented on #61
Closing the issue, to keep the list clean. If it does not work, please reopen this issue.

[2015-09-16 22:43] #61 closed

[2015-09-16 22:46] mboelen commented on #27
This item is "on hold", as it is hard to parse them properly. We will do more research later, to see if we can create a reliable way to parse different PHP configurations and keep the versions in mind as well.

[2015-09-16 22:47] mboelen commented on #30
Closing this issue to keep the list clean. If the patch does not work as expected, please reopen this isssue.

Thanks for reporting it!

[2015-09-16 22:47] #30 closed

[2015-10-07 03:41] rhyven opened #81 "Empty iptables ruleset not detected when fail2ban is installed"
The detection method in include/tests_firewall will not detect an empty ruleset when fail2ban is installed.  This is caused by fail2ban inserting an extra chain, which makes FIRE-4513 return a "1":

Here's my iptables list, with fail2ban installed:

    root@FFF-BASE:~/lynis# iptables --list --numeric
    Chain INPUT (policy ACCEPT)
    target     prot opt source               destination

    Cha

[2015-11-08 08:11] pyllyukko opened #87 "Allow SAK in KRNL-6000 test"
Currently Lynis complains if the ```kernel.sysrq``` sysctl value is not [0](https://github.com/CISOfy/lynis/blob/master/default.prf#L120). Most of the stuff provided by [magic sysrq](https://www.kernel.org/doc/Documentation/sysrq.txt) functionality can indeed decrease security, but there is at least one feature that increases security and that is the [secure attention key](https://en.wikipedia.org

[2015-11-24 10:53] FlorianHeigl opened #88 "Leaking error messages & warnings"
In quiet mode there's a few spurious errors that should not happen.
The warning is by lynis itself, the other message from dnf on fedora.
The dnf one cannot even be suppressed with 2>&1 > /dev/null

[code]

I'm aware this also shows a bug in fedora. But I'm trying to build a monitoring & compliance check based on lynis and for that i need to be able to really rely on suppressing output.
(I'm writi

[2015-11-30 23:42] kboratynski commented on #87
What is the added value of having `sysrq` feature like SAK in case it enables possibility to kill all processes (except `1`)? ;-)

Look at `Caution`[[1]] section. It is *not* recommended to use this feature for security reasons.
For desktops, feel free. ;-)

References:
[1.] https://www.debian.org/doc/manuals/debian-reference/ch09
[1]: https://www.debian.org/doc/manuals/debian-reference/ch09

[2015-12-01 00:33] kboratynski commented on #88
This test is associated with c68b70ff2e305335d5bf8252141e6f7599f49491 and previous commits containing `yum list-sec`. Fedora is the only OS that uses `dnf` by default. RHEL7 and RHEL6, Centos7 and so on use `yum` by default.
This is a Fedora only bug, I think.

Why don't you use `logfile` Lynis feature?

[2015-12-01 08:50] pyllyukko commented on #87
I was referring to only the ```k``` functionality, which you can use to kill [fake login screens](https://en.wikipedia.org/wiki/Login_spoofing).

[2015-12-02 00:34] FlorianHeigl commented on #88
Yes it's a Fedora only bug. Actually it's two bugs since the password module also leaks output in -q.
The output also leaks with the logfile feature.

In summary, -q doesn't work as it should.

[2015-12-02 15:58] mboelen commented on #81
Patch have been applied to show the warning if a rule set contains 10 rules or less. This should catch more configurations which have some rules, but are clearly not configured.

Closing issue. Feel free to reopen if not working as expected. Thanks for sharing!

[2015-12-02 15:58] #81 closed

[2015-12-02 16:52] mboelen commented on #41
First patch is applied to detect this. If you have the chance, please test and let us know the status of FIRE-4532.

[2015-12-02 16:59] mboelen commented on #87
The KRNL-6000 test is a "container" test for boolean values. While the SAK feature is definitely interesting, I think the use-case for this is barely used. If one knows about this function, they can change the related sysctl value in their (custom) profile. So the default looks good as it is.

Thanks for reporting this insight!

Closing reason: default value will do for most users. For those using

[2015-12-02 16:59] #87 closed

[2015-12-02 17:01] mboelen commented on #88
This behavior was as originally intended: be quiet, but display warnings. We try to fetch as much possible stdout and stderr output, to keep it quiet. Will internally discuss this option and if we should make it ReallyQuiet(tm).

[2015-12-02 17:15] tas50 opened #97 "Brew should be detected as a package manager on OS X"
Brew should be detected as a package manager on OS X.  It's the closest thing OS X has to a true package manager.

[2015-12-02 17:27] tas50 commented on #41
Application firewall is now supported.  I'll open another ticket for pf not showing up though.  Thanks for getting this fixed.

[2015-12-02 17:27] #41 closed

[2015-12-02 17:28] tas50 commented on #41
Scratch that part about PF.  It's doing the right thing after all.

[2015-12-02 17:30] tas50 opened #98 "SSHd on OS X not detected"
I have "remote sharing" enabled on OS X and I can ssh to my host without issues, but the SSH daemon is not detected during the scan.

[2015-12-02 17:30] tas50 opened #99 "PHP not detected on OS X"
MBP_tsmith:~ php --version
PHP 5.5.29 (cli) (built: Sep  9 2015 00:26:40)
Copyright (c) 1997-2015 The PHP Group
Zend Engine v2.5.0, Copyright (c) 1998-2015 Zend Technologies
MBP_tsmith:~ which php
/usr/bin/php

[2015-12-03 11:17] mboelen commented on #98
Thanks, that shouldn't be a hard one to detect. Can you share your ps aux output?
Where is the sshd_config located on your system?

[2015-12-03 14:03] FlorianHeigl commented on #88
Ah ok, wasn't obvious it was intended like this :-)

[2015-12-04 01:09] kamilboratynski opened #102 "SSH - ciphers and keyalgorithms"
I would like to post it here to avoid forgetting it. [[1](https://wiki.mozilla.org/Security/Guidelines/OpenSSH#OpenSSH_server)]

It would be nice to implement checking ciphersuites and keylgorithms (as it might be done for webservers too). I think this one should be out of function `[SSH-7408]`, for simple reason. If somone has more stricted ciphers, we cannot say, they're wrong. ;-)

[[1](https:/

[2015-12-04 02:37] rhyven commented on #102
I'd really like to see this.  It's important to be careful, because people can break their SSH by using kex / ciphers / MACs that are too modern, but on my systems, I use the following:

[code]

[2015-12-04 08:15] kboratynski commented on #102
@rhyven
The same with SSL protocol on webservers. It would be nice to have checking `Diffie-Hellman` parameters (if they are present in `dh_params` for `nginx` or attached at the end of certificate file).

I am working on it.
In fact, it will be `O(n)=n^2` algorithm because I have to loop over expected ciphers and found ciphers, but for such a `n`... ;-)

[2015-12-04 10:09] mboelen commented on #102
For now, I suggest to check for strong ciphers and reward that, while still allowing some "weaker" ones for compabitiliy (at the end). This way systems don't get broken, and people have the option to harden it to the extent they want. Seems like a good option to add.

[2015-12-06 00:19] kboratynski opened #106 "[SSH] -- port forwarding"
Writing the tests to `SSH`, I decided to do not include forwarding options as a security hole and let us discuss it.

We are discussing options:
`GatewayPorts`,
`PermitTunnel`
`AllowTcpForwarding`

In my opinion, tunneling might be an security hole, because it allows omitting firewall.

[2015-12-06 22:51] rhyven commented on #106
I think port forwarding is OK, provided it's done selectively... we use it heavily here to provide access to the terminal server via a secure SSH tunnel for remote users.

(see note in man page: *Note that disabling TCP forwarding does not improve security unless users are also denied shell access, as they can always install their own forwarders.*)

`GatewayPorts` seems to be particularly open - t

[2015-12-07 06:10] kboratynski commented on #106
<blockquote>
(see note in man page: Note that disabling TCP forwarding does not improve security unless users are also denied shell access, as they can always install their own forwarders.)
</blockquote>
I am aware of this, but this is the idea of hardering services, I think. Closing as much as possible. :-)

For me:
- `GatewayPorts` -- definitely, `NO`; no ifs.
- `PermitTunnel` -- I am thinking o

[2015-12-07 20:10] rhyven commented on #106
I like  :)  :+1:

[2015-12-08 17:09] mboelen commented on #88
We had a talk about it. Right now Quiet means: it is pretty quiet and only shows you the warnings, as stated in the man page.

If you feel you don't want to see anything at all, then you can upgrade to "really quiet" by redirecting all stderr/stdout to the /dev/null. For your purposes that seems to be a fitting solution as well.

Thanks for asking the question. I will close this issue as a wontfix

[2015-12-08 17:09] #88 closed

[2015-12-08 17:46] mboelen commented on #10
Commit 2be968eb2ca0a460964f147acb9afcb375fe0bd2 added an initial test for the Mac OS X boot loader. Can you test if it is properly detected for you now?

[2015-12-08 22:21] kboratynski commented on #10
@mboelen
Works on `El Capitan`; logs below.

[code]

[code]

[2015-12-08 22:47] kboratynski commented on #106
Merged.

[2015-12-08 22:47] #106 closed

[2015-12-09 21:51] mboelen commented on #10
Thanks @kboratynski, will close it then.

[2015-12-09 21:51] #10 closed

[2015-12-10 12:46] 0x25 opened #107 "plugin pam"
I get this error when I run the audit system whith the plug-in pam

   [../lynis: 337: [: -eq: unexpected operator
./lynis: 349: [: -eq: unexpected operator
./lynis: 411: [: -eq: unexpected operator
./lynis: 417: [: -eq: unexpected operator
./lynis: 425: [: -eq: unexpected operator

[2015-12-10 14:16] kboratynski commented on #107
What operating system did you run Lynis on?

[2015-12-10 14:23] mboelen commented on #107
Seems like unitialized variables. Are you using this with the development version from GitHub?

[2015-12-10 15:22] mboelen commented on #11
Closing this issue.

[2015-12-10 15:27] 0x25 commented on #107
hello

I test in a simple debian. (Linux debian 3.2.0-4-486 #1 Debian 3.2.68-1+deb7u5 i686 GNU/Linux)
"Seems like unitialized variables" +1
I put some log https://ghostbin.com/paste/p4jho

[2015-12-10 15:29] mboelen commented on #107
Thanks for sharing the log. To be 100% sure we are troubleshooting correctly: What Lynis version are you using?

[2015-12-10 15:37] 0x25 commented on #107
./lynis --version
2.1.1

[2015-12-10 15:39] mboelen commented on #107
Thanks. In that case that explains it. The solution is to upgrade to the latest version of Lynis from GitHub. You can do this by performing a git clone of this project and run Lynis again.

Closing this issue.

[2015-12-10 15:39] #107 closed

[2016-01-06 08:31] martinstefany opened #110 "AUTH-9328 Default umask best practise"
Lynis recommends to change umask in /etc/profile from 002/022 to something more strict like 027, but this is not recommended procedure, at least by RedHat:

    # It's NOT a good idea to change this file unless you know what you
    # are doing. It's much better to create a custom.sh shell script in
    # /etc/profile.d/ to make custom changes to your environment, as this
    # will prevent the ne

[2016-01-06 08:44] martinstefany opened #111 "PKGS-7384 Fedora switched to dnf from yum"
PKGS-7384 test check presence of yum-utils package and issue:

    /usr/bin/package-cleanup -q --dupes
    /usr/bin/package-cleanup --problems

Since Fedora switched to dnf by default since F22, lynis should not put warnings for missing yum-utils packages in instead try to utilize dnf built-in functions:

    /usr/bin/dnf repoquery --duplicated
    /usr/bin/dnf repoquery --unsatisfied

See: http:/

[2016-01-06 12:54] mboelen commented on #111
Thanks Martin. Do you feel like submitting a patch yourself?

[2016-01-06 18:33] martinstefany commented on #111
I do, I was actually thinking about it. I'm working on ansible playbook to turn default minimal Fedora 23+ / RHEL6/7 / CentOS6/7 installations into Lynis / OpenSCAP / NSA compliant one, so I was running lynis to see what's still missing (or wrongly configured / reported). The same for the other issue I've submitted.
I will dive in and see what I can provide. :)

[2016-01-07 18:51] mboelen commented on #111
Great, very much appreciated. If you create a patch with the additions, we will perform the related testingm, and get them into the code.

[2016-01-15 00:41] Huskynarr opened #112 "ARM Bootloader - Kernel Problems (Raspberry Pi 2)"
That's a very good question.
I do not use Lynis very often, but is one of the first things I do.
So now I have installed it on the Raspberry Pi.

Which reminds me, incidentally, was this here ..

[code]

He's probably a problem with the recognition of the bootloader.
Either because it is an ARM architecture or because the system no common memory has (SD card).

When he can not find the kernel conf

[2016-01-24 08:40] pcastellazzi opened #116 "AUTH-9308 failed when systemd is used"
AUTH-9308 is not checking for systemd unit files, marking the test always as failed, even on centos 7 (i am guessing other systems too) when /sbin/sulogin is enabled by default.

Under systemd lynis need to check the presence of /sbin/sulogin on the following files:

* /usr/lib/systemd/system/console-shell.service
* /usr/lib/systemd/system/emergency.service
* /usr/lib/systemd/system/rescue.service

[2016-01-24 09:06] pcastellazzi opened #117 "PKGS-7387 should test each enabled repo instead of only /etc/yum.conf"
PKGS-7387 is only checking for gpgcheck on yum.conf but it should do it on all enabled repositories. Something like:

[code]

[2016-01-25 14:06] mboelen commented on #111
Created a first patch. Can you please update your version and see if detection works correctly for you?

[2016-01-30 13:00] azman0101 opened #118 "Install a PAM module for password strength testing like pam_cracklib or pam_passwdqc [AUTH-9262]"
Hi,

I'm using pam module pwquality which is enable by default in Ubuntu Wily.

But I get the suggestion AUTH-9262.

Is this normal behavior ?

[2016-01-30 15:37] mboelen commented on #118
Thanks for reporting @azman0101, that module seems to be a good alternative.

Can you show the lines used in your configuration (e.g. in your PAM itself) and the name of the pam module? Then we can add it to the test.

[2016-01-30 19:42] mboelen commented on #117
Assigning up-for-grabs, if others are interested to create a patch.

[2016-01-30 22:02] azman0101 commented on #118
this is the line present in the file /etc/pam.d/common-password

[code]

[2016-02-02 10:57] thedrow opened #119 "Machine readable output"
It'd be useful to be able to feed lynis output to logstash so that I'll be able to search and compare reports from previous runs.

[2016-02-02 11:14] mboelen commented on #119
Hi @thedrow, thanks for the suggestion. The project provides a lynis-report.dat file with raw data. We suggest to parse that file and import it into logstash.

[2016-02-02 11:14] #119 closed

[2016-02-03 21:11] virtadpt commented on #112
The same thing happens when a Linux system is using syslinux as its bootloader instead of LILO or GRUB.

[2016-02-04 09:13] mboelen commented on #112
Thanks @virtadpt. Do you have a specific file we can check for to detect syslinux?

[2016-02-04 18:54] virtadpt commented on #112
Syslinux requires that its config file be found in /boot/syslinux/syslinux.cfg.  The bootblock file (syslinux.c32) is kept in the same directory.

[2016-02-08 18:01] rilindo opened #120 "TCPKeepAlive no or yes?"
I see that Lynis is flagging TCPKeepAlive if is set to no:

[17:44:59] Test: Checking TCPKeepAlive in /etc/ssh/sshd_config
[17:44:59] Result: Option TCPKeepAlive found in /etc/ssh/sshd_config
[17:44:59] Result: Option TCPKeepAlive value is  NO
[17:44:59] Result: SSH option TCPKeepAlive is in a weak configuruation state and should be fixed
[17:44:59] Suggestion: Consider hardening SSH configuration

[2016-02-08 22:40] rhyven commented on #120
Thanks for bringing that to my attention, @rilindo.  You're quite right.  It seems that there's no actual **exploitable** vulnerability with TCPKeepAlive(1) -- yet.  But let's fix this.

After a bit of reading this morning (thanks again), I've found:

vs

(Ref: man page for ssh_config)

It appears much more appropriate for Lynis to:
 - Ensure TCPKeepAlive is set to **No**
 - **Suggest** that Serve

[2016-02-09 11:58] mboelen commented on #120
Implemented. @rilindo and @rhyven: can you test if the changes give the expected on your system as well?

[2016-02-09 14:41] rilindo commented on #120
For the TCPKeepAlive, that worked. Yay! Thank you!

For ServerAliveInterval, not so much:

`- SSH option: ServerAliveInterval [ NOT FOUND ]`

And I did confirm that it is set:

`vagrant@vagrant-ubuntu-trusty-64:~$ grep ServerAliveInterval /etc/ssh/ssh_config
  ServerAliveInterval 2`

[2016-02-09 14:55] mboelen commented on #120
Thanks @rilindo. I've added the missing value. Does it now work for you?

[2016-02-09 18:49] rilindo commented on #120
It appears that lynis is look for the ServerAliveInterval parameter in /etc/ssh/sshd_config. ServerAliveInterval is actually a parameter that is set in /etc/ssh/ssh_config (which I confirmed in the man pages).

[2016-02-09 20:26] rhyven commented on #120
@mboelen new PR for you  ;-)  I've just arrived at work so I'm about to give this a spin here too.

[2016-02-09 23:07] kboratynski commented on #120
@rhyven It's OK for me. @mboelen -- I have to agree totally.

-- K.

[2016-02-10 02:27] rhyven opened #122 "Apt-get not recognised as a package audit tool on minimal installs"
Hi guys, not sure if this is intentional but thought I'd check.

Running Debian 8.2 here, on a minimal installation.  I get a fail on PKGS-7398.

PKGS-7398 (Check for package audit tool) relies on PKGS-7392 to set `PACKAGE_AUDIT_TOOL="apt-get"` and `PACKAGE_AUDIT_TOOL_FOUND=1`

However, 7392 won't detect apt-get if:

1. update-notifier isn't installed (Line 885), AND
2. all apt-get packages are up

[2016-02-11 15:49] lusitania opened #123 "debian/changelog is severly outdated, breaks our toolchain"
Top-most entry in tag 2.1.1 says

[code]

whereas CHANGELOG correctly mentions `2.1.1 (2015-07-22)` to be the "current" version.

Implications: Automated Jenkins jobs relying on `dpkg-parsechangelog` fail. For Debian packages `CHANGELOG` is irrelevant. Only `debian/changelog` counts.

No idea how I can work around this for the current release without reinventing the wheel. Please take special care

[2016-02-11 15:57] mboelen commented on #123
The Debian part (debian/*) is currently not in use by the project, but will soon be updated for package building. As we want to learn about your integration (and determine how we will do package building), can you share how you rely on the project?

[2016-02-11 16:07] lusitania commented on #123
We intend to build and use the most current release of Lynis to compare its recommendations against our workflow. dpkg is our primary release tool for which we've build an easy-to-use tool-chain.

[2016-02-11 16:46] lusitania commented on #123
I suppose I have to rephrase my original text. I completely fail to build the package using git-buildpackage, even on master.

[code]

https://cisofy.com/documentation/lynis mentions building rpm packages but says nothing about deb. What have you been using in the past to build your releases?

[2016-02-11 17:05] mboelen commented on #123
Thanks for the clarification. The debian tree was never used to build Debian packages, as those are tilll now maintained by package builders (e.g. for Debian and Ubuntu). We are now making a shift with the project to fully control the package building process ourselves. No ETA for that yet though.

[2016-02-14 21:22] martinstefany commented on #111
All good.

[code]

[2016-02-15 07:46] mboelen commented on #111
Thanks again for reporting and the confirmation. Closing this issue.

[2016-02-15 07:46] #111 closed

[2016-02-25 13:24] mboelen commented on #123
Some initial changes have been made to the debian/* files. Work on this will be continued with the upcoming package building. Closing this issue, thanks for bringing it up and giving input.

[2016-02-25 13:24] #123 closed

[2016-02-25 13:26] mboelen opened #124 "IPv6 filtering"
There is probably a bug in the “tests_networking” script in the following command:

FIND=`sysctl -a --pattern "^net.ipv6" 2> /dev/null | sed "s/ = /=/"`

Actually, the goal of this test is to find if IPV6 is activated on a system.

Unfortunately, the test returns ALL the values, without eliminating the one not dealing about Ipv6 !

Perhaps you could replace with this one? :

       FIND=`sysctl -a

[2016-02-25 13:26] mboelen commented on #124
Implemented.

[2016-02-25 13:26] #124 closed

[2016-03-03 12:18] mboelen opened #126 "Some PAM files were not found on FreeBSD"
The /usr/lib directory is missing from the PAM locations search. As this will reveal too much files, a more strict find command has to be used (maxdepth and pam_*).

Issue resolved with commit: https://github.com/CISOfy/lynis/commit/09193d8ba95023f8af7db0649f3f31420c80e56a

[2016-03-03 12:18] #126 closed

[2016-03-03 12:58] mboelen opened #127 "cURL not properly detected for Docker audit scan"
Incorrect variable used and reported.

Related commit: https://github.com/CISOfy/lynis/commit/2b95019b628043bb0718b9280c344fbcf5581768

[2016-03-03 12:58] #127 closed

[2016-03-03 23:15] rhyven opened #128 "Feature Request - More useful output with --cronjob"
I'm using a cron entry to run Lynis on my servers daily.

With `./lynis --cronjob`, the lack of formatting makes the output difficult to read in email:

The WARNING above tends to get lost in the screed of text.

With `./lynis --cronjob -q`, the **only** output is:

This isn't enough information for me.  In this current setup, I also get a red [ FOUND ] for a compiler, a [ NOT FOUND ] for SELinux/

[2016-03-04 00:55] rhyven commented on #120
@mboelen this one can probably be closed  :)

[2016-03-04 01:06] rhyven commented on #120
@mboelen - pretty sure these have been addressed.  OK to close I reckon.

[2016-03-04 11:50] #120 closed

[2016-03-08 07:53] mboelen opened #131 "SSH-7408 should only use last value"
In the case that several values are present in the sshd_config file, they all get catch by awk, but in fact only the last one should be taken in account (because actually, it is the last one that is finally really applied on the server), otherwise the following tests will not work correctly.

FOUNDVALUE=`awk -v OPT="${OPTIONNAME}" 'index($0, OPT) == 1 { print toupper($2) }' ${SSH_DAEMON_CONFIG} |

[2016-03-08 07:53] mboelen commented on #131
Change has been merged.

[2016-03-08 07:53] #131 closed

[2016-03-09 18:15] d4t4king opened #132 "SSH-7408 Atomic Checks?"
Would it not be better to break this out into atomic checks so that certain aspects of the config can be accepted (or not).  Maybe, implement a "sub-check" feature/capability, e.g. SSH-7408.1, SSH-7408.2, etc.?

[2016-03-10 16:15] mboelen commented on #132
To reduce repetition, we are actually merging more tests. The benefit is shorter code, which becomes easier to extend. One possibility is that we allow these sub-checks, but then it would be better to this by name: SSH-7408.permitrootlogin

Will keep this item open and discuss it with others. Thanks for pointing out.

[2016-03-10 20:00] mboelen commented on #132
Exactly, it should be possible to allow ignoring a partial piece of the test. That's why I consider this might be workable: if a test has sub-checks, each of the sub-checks can be individually disabled.

For example: If you do SSH-7408, the whole test is skipped. If you use SSH-7408.permitrootlogin, just the particular item will be skipped and the rest of the test is still performed.

[2016-03-10 20:01] d4t4king commented on #128
FWIW, you're probably better off parsing/mailing one of the log files, rather than the output of the script itself.

Given the variability of the script's output, grepping for a simple string can be ambiguous, at best.  For example, grepping for `[ FOUND ]` would be good for the presence of a malware scanner; bad for the presence of a compiler.

I also suspect (though I could be wrong) that your g

[2016-03-10 22:43] rhyven commented on #132
*cough*USB storage*cough*

I'm in exactly the same scenario with test STRG-1840.  I want to be reminded to disable the driver loading, but I don't much care about deauthorizing devices -- especially on a virtual machine.

@mboelen a name-type sub

[2016-03-12 20:16] mboelen opened #133 "Bind configuration on FreeBSD is not detected"
Needs the addition of /usr/local/etc/namedb directory.

[2016-03-12 20:17] mboelen commented on #133
Added in last commits.

[2016-03-12 20:17] #133 closed

[2016-03-13 20:46] rhyven commented on #128
The variability of the output was exactly why I decided to just exclude "OK", instead of any other option.  At least that increases the SNR.  :)

And you were right - Grep was choking on the colour codes.  That being the case, I wonder if I could tell grep to exclude any line including "green".

Thanks for your help

[2016-03-16 09:29] mboelen commented on #128
The --cronjob option is programmed with the logic to display at less as possible. Only warnings will show up, as those could be a trigger to take an action (e.g. new vulnerable packages found).

Tips: if you would like to know the warnings/suggestions, it is better to parse the report file. When you still want the output in a cronjob, then run it in normal mode (lynis audit system -Q).

[2016-03-16 09:29] #128 closed

[2016-03-16 10:28] mboelen commented on #122
With your patch it works correctly now, right?

[2016-03-16 10:30] mboelen opened #136 "dmidecode error in functions"
./include/functions: line 772: dmidecode: command not found

[2016-03-16 10:31] mboelen commented on #136
Added additional check, and allow other binary locations for dmidecode.

[2016-03-16 10:31] #136 closed

[2016-03-16 20:46] rhyven commented on #122
Sure does!  Thanks!  :)

[2016-03-16 20:46] #122 closed

[2016-03-16 20:59] rhyven commented on #128
Um... two things:

1)  PR #134 has actually resolved this for me -- I have a cronjob that greps for [*], and emails me the results.  All fine.

2)  This:

That doesn't seem to be the case?  I still get heaps of output with --cronjob:

[code]

I don't think *any* of those are warnings?  Is this working correctly?

[2016-03-17 08:46] mboelen commented on #128
Sorry about that. Indeed, it does show normal output (without markup). Normally it is often used with the -q option to reduce this output, except the serious issues.

[2016-03-17 09:09] #11 closed

[2016-03-17 20:26] rhyven commented on #128
Aha, that makes more sense.  :-D  Thanks!

[2016-03-22 22:18] kboratynski commented on #99
@mboelen: fixed with #140.

[2016-03-22 22:19] kboratynski commented on #97
@mboelen: fixed wtih #141

[2016-03-22 22:57] kboratynski commented on #98
@mboelen Fixed with #142 .

[2016-03-23 15:34] mboelen opened #143 "Counting of hardening points needs to be checked"
[10:15:19] ===---------------------------------------------------------------===
[10:15:19] Performing test ID FIRE-4508 (Check used policies of iptables chains)
[10:15:19] Test: gathering information from table filter
[10:15:19] Result: iptables    --  policy is .
[10:15:19] Result:
[10:15:19] Result: iptables  filter  -- INPUT policy is ACCEPT.
[10:15:19] Result: ACCEPT
[10:15:19] Result: Found

[2016-03-23 20:55] rhyven commented on #143
This is kinda fascinating.

To check that AddHP were receiving the correct numbers, I tried adding a simple "echo $1 $2" to the top of AddHP.  Works perfectly.  I can't find anywhere else in the code that affects HPTOTAL and HPPOINTS.

I checked the results manually, down to NAME-4230, and all the numbers added up correctly that far.

Don't think I can help with this one!

[2016-03-24 12:44] kboratynski opened #144 "Lynis & Ansible"
Dear community; how about creating an Ansible role for Lynis, that would:
- install it automatically on the server,
- perform security updates,
- configure cronjobs for security audits,
- checking is Lynis is up-to-date
- ...

[2016-03-24 12:55] mboelen opened #145 "SSH-7408: Issue for items with multiple values"
MaxStartups shows up properly in the log. In screen output it shows an error, due to finding a string "4:30:8" instead of a number.

[11:49:25] Test: Checking MaxStartups in /etc/ssh/sshd_config
[11:49:25] Result: Option MaxStartups found in /etc/ssh/sshd_config
[11:49:25] Result: Option MaxStartups value is  4:30:8

Screen output:

    - SSH option: LogLevel                                    [ M

[2016-03-24 12:57] mboelen commented on #144
More live cases on how people deploy would be useful, also for the documentation.

We already have a section for it in the Upgrading guide: https://cisofy.com/documentation/lynis/upgrading/#ansible

[2016-03-24 13:01] kboratynski commented on #144
@mboelen Be so kind and create a separate repository for `ansible-lynis` role so we will be able to add this one to https://galaxy.ansible.com ;-)

[2016-03-24 13:47] mboelen commented on #97
Brew is now properly detected with the patch made by @kboratynski. Additionally, detection method has been changed, as type -p does not work on all systems.

[2016-03-24 13:47] #97 closed

[2016-03-24 14:06] kboratynski commented on #145
This is not a _multiple value_. This is an another format for `MaxStartups`.
I will handle it.

[2016-03-24 16:31] mboelen commented on #116
Thanks for reporting. Initial set of changes have been applied to include support for this. Can you test if this works for you?

[2016-03-24 20:41] mboelen opened #146 "Function required: CommandExists"
Right now there is not a clear function which can be used to see if a particular command exists.

Preference is to use `type -p command`, but it might not work on all systems. Use `which command 2> /dev/null` as a backup.

Possible solution: http://stackoverflow.com/questions/592620/check-if-a-program-exists-from-a-bash-script
Another good read: http://unix.stackexchange.com/questions/85249/why-no

[2016-03-24 20:42] kboratynski commented on #145
The main question is: what is the expected value for such parameter?
I was thinking of `4:30:8`, but on the other hand, having `2:*:4` is acceptable too.
What do you think?

[2016-03-25 12:32] JohnTroony opened #148 "Missing Color on Error Message"
I'm testing the current final release of `lynis` on Arch Linux... For most parts, it seems to work fine for me. I intentionally triggered an error and escape characters are printed along with the error messages.
Check PR https://github.com/CISOfy/lynis/pull/147

[2016-03-27 02:28] pcastellazzi commented on #116
Thank you very much. I tested it against master and it works correctly on CentOS 7.

[2016-03-28 10:32] mboelen commented on #116
Thanks for the confirmation, closing item.

[2016-03-28 10:32] #116 closed

[2016-03-28 14:14] mboelen commented on #118
Hi @azman0101, can you test if recent change works for you correctly as well?

[2016-03-29 05:53] mboelen opened #149 "Explain exit code when data upload with cURL fails"
[16:08:57] Result: cURL exited with code 2.
[16:08:57] Result: quitting, can't check license

[2016-03-29 07:23] kboratynski commented on #146
@mboelen I will handle it.

[2016-03-30 09:39] mboelen opened #151 "Determine if we want to replace old-style backticks"
All modern shells support command execution with $(...). It is stated as a preferred way over `...` (backticks) notation, and both POSIX-compliant. Before rewriting tests, we should ensure that it does work correctly for systems like AIX, Solaris and the *BSDs.

[2016-03-30 12:31] mboelen opened #152 "Incorrect output when using lynis audit on Arch Linux"
Issue reported by @johntroony in pull request https://github.com/CISOfy/lynis/pull/147. Output output of lynis audit does not look correctly.

The suggested code will most likely not work on systems which don't know the -e option. So instead, we have replaced the Display function when checking parameters.

[2016-03-30 12:36] mboelen commented on #152
Closing issue, works now correctly on Arch Linux.

[2016-03-30 12:36] #152 closed

[2016-03-30 16:12] Opfour opened #153 "Update errors after install"
1) I received the following error when I try to update Lynis from 2.1.1 to 2.2.0:

“Error: Unknown protocol, please specify (http, https) in profile (update_server_protocol)[-30C”vim /etc/lynis/default.prf
vim'd - vim /etc/lynis/default.prf

and uncommented lines:

331 config:update_server_protocol:http:

337 config:update_latest_version_download:/files/lynis-latest.tar.gz:

2. Tried updating agai

[2016-04-02 15:24] mboelen opened #155 "IsRunning function should provide a return code"
To simplify our code base, the IsRunning function needs a return code.

[2016-04-02 19:05] mboelen commented on #155
Implemented with commit https://github.com/CISOfy/lynis/commit/17c435801d4f457b748228ac49f99ff8a144259d

[2016-04-02 19:05] #155 closed

[2016-04-02 19:17] mboelen commented on #153
That download location seems to be incorrect. Instead of downloading directly from the cisofy.com domain, download the latest release to a HTTP server of your own. Then point your client(s) to that local directory.

[2016-04-02 19:20] mboelen commented on #148
Is this solved for you with the related changes?

[2016-04-03 09:46] kboratynski commented on #99
@mboelen You can close this, hence #140 is done.

[2016-04-03 09:47] kboratynski commented on #98
@mboelen: You can close this, hence #142 is merged.

[2016-04-03 10:45] Opfour commented on #153
I'll try that today. TY for the reply :)

[2016-04-03 13:20] #98 closed

[2016-04-03 13:20] #99 closed

[2016-04-04 11:35] mboelen commented on #153
Did it work @Opfour ?

[2016-04-04 13:27] kboratynski opened #157 "Prepare functions for tests"
To remove duplication of the code, write and implement the following functions for tests:
- `ValueEqual` (eq)
- `ValueGreaterThan` (gt)
- `ValueGreaterEqual` (ge)
- `ValueNotEqual` (ne)
- `ValueLessThan` (lt)
- `ValueLessEqual` (le)

[2016-04-05 06:52] mboelen commented on #157
Changed some names to match them with the shell equivalents (and added their short version)

[2016-04-05 08:05] mboelen opened #158 "Proxy is added twice to upload command"
When a proxy is defined, it showed up twice. Solved with https://github.com/CISOfy/lynis/commit/b954eeceec5d5262bb5b2a28122b87cef6a6c39e

[2016-04-05 08:05] #158 closed

[2016-04-05 09:17] mboelen opened #159 "SSH-7408: Parse SSH settings via daemon instead of file"
Due to the default settings changing sometimes in SSH, it would be better to parse the output of sshd -T, instead of the configuration file.

Benefits: This way we audit the actual live configuration. Also, the defaults are accounted for. So we don't have to statically build them into the tooling.

Command: sshd -T --> ${SSHDBINARY} -T
Note: The output of this command is lowercase.

Agree?

[2016-04-05 09:25] kboratynski commented on #159
@mboelen: Yeah, sure. I totally agree.
I will try to handle this feature with: #157 .

[2016-04-05 10:32] mboelen commented on #157
A while ago an initial container was already created, named TestValue. Using the -- flags might greatly improve readability and forward/backward support, as this function might change. So suggesting that.

CheckValue --id "01" --description "SSH permit root login" --service "ssh" --field <etc>

[2016-04-06 16:26] azman0101 commented on #118
Hi @mboelen, Perfect ! Thxs

[2016-04-06 16:26] #118 closed

[2016-04-07 03:35] cnrat opened #160 "FINT-4316 never work"
I see FINT-4316 check as following:

FIND=`${GREPBINARY} "^Checksums" ${AIDECONFIG}`
FIND2=`${GREPBINARY} "^Checksums" ${AIDECONFIG} | ${EGREPBINARY} "sha256|sha512"`

witch try to find 'Checksums=sha256' or 'Checksums=sha512' in aide.conf

But I can not find a word about that configuration line in [http://aide.sourceforge.net/stable/manual.html](http://aide.sourceforge.net/stable/manual.html) .

[2016-04-08 22:57] rhyven commented on #159
Yep totally agree here, too.  Great point.

[2016-04-11 07:59] mboelen commented on #153
Closing issue, as we consider this to be a support request.

[2016-04-11 07:59] #153 closed

[2016-04-12 20:02] mboelen opened #164 "Improve basic Lynis help text"
Better reflect naming like arguments, parameters, options, commands.

[2016-04-12 20:02] mboelen commented on #164
Done with commit https://github.com/CISOfy/lynis/commit/3e38d2fae5d6db4a7c8eb9e9c676d522c522eb66

[2016-04-12 20:02] #164 closed

[2016-04-13 06:14] mboelen commented on #144
Repository is available now: https://github.com/CISOfy/lynis-ansible

No integration with Galaxy at this moment, as they require write permissions to GitHub account. GitHub authentication is the only way to create an account currently.

[2016-04-13 06:15] mboelen commented on #144
Open item:
- Create a cronjob for non-packaged installations (manual deployment). For DEB/RPM packages we will integrate cronjob in th package itself.

[2016-04-13 06:15] mboelen commented on #148
Closing issue, as it seems to work properly now.

[2016-04-13 06:15] #148 closed

[2016-04-13 07:00] mboelen opened #165 "Split license check and data upload"
Enhance logic for uploading data. Right now the upload is bolted on at the end, which might need some enhancements to better inform the user when something goes wrong.

Steps:
- If --upload is specified, perform early a check if license key and upload server are set.
- Then perform license check (after binaries are found)
- At the end do the data upload

[2016-04-14 01:27] rhyven opened #166 "TOOL-5004 should check for existence of iptables binary"
Need to insert an if clause in include/tests_tooling at line 251:

[code]

@mboelen I'll do this when I have a sec  :)

[2016-04-14 01:43] rhyven commented on #110
That looks great, @martinstefany.  Looks like something I could probably squeeze in over the next few days, if nobody else gets to it first.  Thanks!

[2016-04-15 13:06] mboelen commented on #166
Thanks. It has been merged and slightly changed (check if IPTABLESBINARY variable has a value).

[2016-04-15 13:06] #166 closed

[2016-04-16 19:34] tuxayo opened #168 "[HTTP-6710] SSL nginx checks don't follow includes"
Leading to false positives

[2016-04-17 19:39] mboelen commented on #168
Can you show more details? (OS, related directories)

When possible, we appreciate any patch to improve the test.

[2016-04-19 10:07] mboelen commented on #159
Sorry for hijacking this one. Changes to parsing the output is implemented, as this test needed some details. Next step is adding atomic support, so individual keys can be ignored via the profile.

[2016-04-19 10:08] #159 closed

[2016-04-19 10:09] mboelen commented on #145
Temporary workaround is ignoring this key. It has a hash sign now to comment it out, until there is a better fix.

[2016-04-19 10:42] mboelen commented on #132
Initial steps have been made to allow this functionality. The function to allow skipping atomic tests is named SkipAtomicTest and has been applied to SSH-7408. For STRG-1840 it is no longer applicable, as that test was already been skipped.

You can test it by adding skip-test=SSH-7408:port to your custom profile. Please note that you no longer have to edit your default.prf, but can create a custo

[2016-04-20 02:03] rhyven commented on #132
It works!  Beautiful  :)

[2016-04-20 02:11] rhyven commented on #132
Added PR #169, to display when an atomic test is skipped.

Side-note, the atomic testing idea is excellent, but it will need more structure if we extend it to the rest of the codebase.  Otherwise we'll end up with spaghetti.  :)

[2016-04-20 11:40] tuxayo commented on #168
OS: Arch Linux

File and directories:
/etc/nginx/nginx.conf

If the ssl conf extracted to another file and then included using `include ssl-example-domain-1.conf;`

In my case there are even two inclusion level:

`/etc/nginx/nginx.conf` includes `example-domain-1.conf` and `example-domain-2.conf`
`example-domain-1.conf` includes `ssl-example-domain-1.conf`
`example-domain-2.conf` includes `ssl-exa

[2016-04-20 23:29] rhyven opened #170 "SkipAtomicTest is case sensitive"
When the profiles are read, the atomic tests are stored in case-sensitive form, as typed by the auditor.

When the SkipAtomicTest function is called later, the atomic test is converted to lower case, but the skip-test value was not.  Therefore, the atomic test name may not match the skipped test in custom.prf.

I suggest modifying /include/profiles:173 to convert the atomic part of $VALUE to lower

[2016-04-21 00:53] rhyven opened #171 "Kernel values are double-evaluated when using custom.prf"
When a kernel value exists in both default.prf and custom.prf, they're both evaluated:

custom.prf:  `sysctl:net.ipv4.tcp_timestamps:1:1:Enable TCP timestamps:`
default.prf:  `sysctl:net.ipv4.tcp_timestamps:0:1:Do not use TCP time stamps:`

Results in:

[code]

[2016-04-21 09:49] mboelen opened #172 "[PKGS-7354] DNF repoquery does not always work"
For systems which don't have the repoquery plugin, DNF will show a warning. It should be checked first.

[2016-04-21 09:49] mboelen commented on #172
Fixed with commit https://github.com/CISOfy/lynis/commit/60a7abf87775c26c4c54aeca8a5ffb9b15ed2a2f

[2016-04-21 09:49] #172 closed

[2016-04-21 09:51] mboelen commented on #170
sure, let's do the comparison of values all with lowercase values. Then people can decide themselves if they use lowercase, uppercase, or a combination. In all cases it will still match.

[2016-04-22 01:03] rhyven opened #175 "KERN-5788 breaks when /vmlinuz is missing"
On my Debian 8.3 systems with 4.3.3-grsec kernel, the symlink /vmlinuz doesn't exist.  This breaks the tests in KERN-5788.

I'm not sure if this caused by Debian 8.3, or if it's grsecurity that's doing it... I have no Debian systems without grsec installed.  I've experienced it on six separate VM's, all running Deb8.3+grsec.

@mboelen two questions:
 - Have you observed this elsewhere?
 - Do you t

[2016-04-22 01:07] rhyven opened #176 "KERN-5788 gives misleading error message when /vmlinuz is missing"
On systems where /vmlinuz doesn't exist, KERN-5788 gives a misleading error message:

`ReportSuggestion ${TEST_NO} "Check the output of apt-cache policy manually to determine why output is empty"`

I suggest checking the existence of /vmlinuz first, and throwing the following if it's missing:

`ReportSuggestion ${TEST_NO} "Unable to check for availability of a new kernel, because /vmlinuz is missi

[2016-04-23 18:11] mboelen commented on #175
Yes, we observed this. Seems your proposal might be a perfect fit. Will you create the patch?

[2016-04-23 18:13] mboelen commented on #176
Agree. Will you do the patch for this?

[2016-04-23 18:17] mboelen commented on #171
Due to the ongoing work to allow multiple profiles, this behavior is to be expected. We have to come up with a good implementation for this kind of keys. After all, we want to propose default keys to check, but rather avoid people changing the default.prf file from now on. One possibility could be the usage of an external database (db directory), and store these values there.

[2016-04-24 23:12] jsilverman-blispay opened #177 "Regression caused by custom exit 78"
Hi. We've been using Lynis pretty successfully as a hardening tool. We run it on a schedule, in cron, inside a wrapper script.

Our wrapper is using bash, and we set errexit to true (i.e. "set -e" or "set -o errexit")

This causes the wrapper to exit before some reporting tasks can run, because of the custom exit code 78 added in commit 04b2a900c174d95e0e8144a6b96d7602230395e3 . We want to still e

[2016-04-25 04:09] rhyven commented on #176
Fixed with PR #178

[2016-04-25 04:09] rhyven commented on #175
Fixed with PR #178

[2016-04-25 04:12] rhyven commented on #171
Agreed!  I expected it, because the functionality is so new -- but I figured I'd log it as an issue, because it's definitely something we need to fix.

A db directory sounds like a lot of work.  I'm not familiar enough with how bash does things -- I'll have a think on it, and see if I can come up a fix.

[2016-04-25 09:56] mboelen commented on #177
Thanks for reporting @jsilverman-blispay. We have made a different change, to make things even easier for you.

By default now: exit with code 0, even when warnings have been found. If Lynis found a fatal issue, then it will raise an exit code higher than 0, like before.

If you want to know if warnings have been found, Lynis can still exit with the previous code 78. This can be defined with "erro

[2016-04-25 09:56] #177 closed

[2016-04-25 09:57] mboelen commented on #176
Thanks, PR looks good. Made a few small changes to enhance the check (elif).

[2016-04-25 09:57] #176 closed

[2016-04-25 09:58] mboelen commented on #175
Thanks, PR looks good. Made a few small changes to enhance the check (elif).

[2016-04-25 09:58] #175 closed

[2016-04-25 14:03] mboelen commented on #170
Change committed. @rhyven, can you validate if it works for you?

[2016-04-25 17:59] mboelen commented on #132
Closing issue, after confirmation that it works.

[2016-04-25 17:59] #132 closed

[2016-04-25 17:59] mboelen commented on #143
Can't reproduce the issue myself, so closing it.

[2016-04-25 17:59] #143 closed

[2016-04-25 18:06] mboelen commented on #45
The related tests have been disabled, as focus on issue and issue.net is indeed better. Closing item with latest changes.

[2016-04-25 18:06] #45 closed

[2016-04-25 18:15] mboelen commented on #151
Decision has been made to keep things as they are for now.

[2016-04-25 18:15] #151 closed

[2016-04-25 18:17] mboelen commented on #149
Upload test has now better explanations when things go wrong.

https://github.com/CISOfy/lynis/commit/0288c6df34b8f663ceb6da279e8fc427313b87db

[2016-04-25 18:17] #149 closed

[2016-04-26 09:57] rhyven commented on #170
Confirmed working here!  Nice :)

[2016-04-26 09:58] rhyven commented on #151
Good call - sounded like a lot of work, with little benefit  :+1:

[2016-04-26 10:01] #170 closed

[2016-04-26 10:08] mboelen commented on #171
There is already a db directory. We could simply make a file with the keys, and the preferred values. The challenge is that it should be flexible enough for people to change (without being overwritten), or the possibility to create their own data set.

[2016-04-26 10:11] rhyven commented on #171
Ha, there it is.  I hadn't noticed it before

[2016-04-27 03:32] rhyven opened #179 "Suprious warnings from PROC-3612 & PROC-3614 with grsecurity"
When the CONFIG_GRKERNSEC_PROC kernel options are enabled, the kernel prevents access to the WCHAN mapping, therefore causing `ps -o wchan` to throw a warning message:

[code]

This function is called by PROC-3612 (line 78) and PROC-3614 (line 102), leading to spurious warnings in both normal function, as well as in the emailed output of cron jobs.

I'm not sure if the warning affects the check.

[2016-04-27 08:34] mboelen commented on #179
Thanks for reporting. Removed wchan from output, that doesn't do much anyways. Let's keep it simple :)

https://github.com/CISOfy/lynis/commit/84d619852aabde7c35afd7f780a16d6d91579ecc

Would be good if you could set-up a VM with a normal Debian installation (no grsecurity), with a similar configuration. Then run Lynis on both and compare the log file, to see if more tests are obstructed.

Closing

[2016-04-27 08:34] #179 closed

[2016-04-27 08:35] mboelen commented on #160
Thanks for reporting. Seems to be a specific configuration, and looks like you are right. We are investigating it, to see if we can improve it.

[2016-04-28 01:04] rhyven commented on #179
I didn't have the chance to stand up a separate VM, but I booted one of my test VM's into the stock Debian 3.16.0-4-amd64 kernel and ran Lynis.

I can't see any other tests being obstructed.  Ran the two logfiles through Diff and there were only very minor differences (e.g. different PIDs and temp files).  This is interesting though:

**Plain Kernel**
[code]
**Grsec Kernel**
[code]

Also discovere

[2016-04-28 11:03] mboelen opened #181 "Replace old functions"
Replace old function calls to report, logtextbreak, logtext, etc, to bring them in line with name convention of functions.

[2016-04-28 11:04] mboelen commented on #181
Several commits today have been implemented to rectify this.

[2016-04-28 11:04] #181 closed

[2016-05-02 09:43] kboratynski opened #183 "ssh-options are not case sensitive"
While implementing some playbook for SSHD server and configuring its values, I discovered SSHD tests in Lynis are case sensitive, while ssh_config is not.

@mboelen mark this as a bug, please.

[2016-05-02 15:35] mboelen commented on #183
That recently was already changed (everything lowercase) to match with lowercase of sshd -T.

Is this still an issue?

[2016-05-02 17:27] mboelen opened #187 "When using Lynis via Git, it is unclear how to continue"
Should be fully tested to make sure first-time usage makes sense, while still having proper security checks in place:
- Do a git clone then run as unprivileged user
- Then run with sudo
- Change umask
- Perform another git clone

[2016-05-03 11:56] mboelen opened #189 "Quality checking: perform code linting"
Previously code was created with old-fashioned type of shell script. An initial round of linting will be done with shellcheck to catch unused variables, modernize calls, and make things better readable.

[2016-05-11 13:13] mboelen opened #195 "-Q doesn't work"
Solved by quoting "-?" which resulted in all short options to match the help.

Related commit: https://github.com/CISOfy/lynis/commit/668a1fd0e560dc740f9fa1003afff8418f88f961

[2016-05-11 13:14] #195 closed

[2016-05-18 15:38] rugk opened #197 "SSH: Why do you recommend UseDNS?"
[code]

However such a DNS lookup [is unnecessary](https://unix.stackexchange.com/questions/56941/what-is-the-point-of-sshd-usedns-option) and may also [create a vulnerability](https://security.googleblog.com/2016/02/cve-2015-7547-glibc-getaddrinfo-stack.html).

[2016-05-18 15:52] rugk opened #198 "Database support: Redis"
It would be nice if you could also support [Redis](http://redis.io/) in the database section.

[2016-05-18 22:56] rhyven commented on #197
Thanks @rugk.  Great question and great links.  +1, I'm convinced.

Also, I found that the OpenSSH team feels the same way; default changed to "No" in OpenSSH v6.8p1 and later: https://bugs.launchpad.net/ubuntu/+source/openssh/+bug/424371/comments/11

I'll do a PR now for @mboelen

[2016-05-19 15:43] mboelen commented on #198
Sure :) Care to create a test for it and send it in a pull request?

If you like, you can battle test our fresh documentation: https://github.com/CISOfy/lynis-sdk/tree/master/documentation

[2016-05-19 16:09] rugk commented on #198
I rather leave this to someone else...
But the documentation looks good.

[2016-05-19 17:57] mboelen commented on #198
Sure, will mark it with an up-for-grabs, so others from the community can see if they like to pick it up.

[2016-05-19 17:59] mboelen commented on #197
Implemented

[2016-05-19 18:09] rugk commented on #197
Nice.

@rhyven BTW you can (automatically) [let issues close](https://help.github.com/articles/closing-issues-via-commit-messages/) when a PR is merged.

[2016-05-19 18:09] #197 closed

[2016-05-19 18:16] rugk commented on #198
Well.. I'd imagine:
* `bind` only to localhost (think it is the usual situation, but may be not of course)
* `requirepass` for authentication enabled
* `rename-command CONFIG` and other potentially dangerous commands

That's also what is basically listed here: http://redis.io/topics/security

[2016-05-19 20:59] rhyven commented on #197
Oh hey, that's cool -- thanks @rugk!

[2016-05-25 12:56] Heretic-q2 opened #206 "Fail2ban enable jail test and iptables test"
In Centos in the program Fail2ban recommend create rule in another file in special folder /etc/fail2ban/jail.d/.
And include rules in that file.

EXAMPLE:/etc/fail2ban/jail.d/custom.conf.
[code]

In Fedora/Centos/RHEL in the program fail2ban uses chain f2b-\<name\>, but  Debian/Ubuntu fail2ban-\<name\>

[0001-Fail2ban-tool.patch.zip](https://github.com/CISOfy/lynis/files/281965/0001-Fail2ban-tool.

[2016-05-29 08:55] lpirl opened #207 "could `find` in /tmp use -xdev?"
First, thanks for this valuable tool everyone – thumbs up!

I just discovered a `find /tmp -type f -atime +90` running for ages on a machine since that has a (huge) file system temporarily mounted to a directory in `/tmp` for backup purposes.

Without knowing what this command is used for, maybe it's an option to add `-xdev` to `find` commands targeting `/tmp`.

[2016-05-30 17:44] mboelen commented on #207
Hi Lukas. Thanks for reporting this. Can you run it again with the latest version and see if it is better now?

[2016-05-30 17:45] mboelen commented on #206
Thanks for reporting this. Can you turn this into a pull request? Then you are properly linked as a contributor and we can merge it in a logged way.

[2016-05-30 23:18] rhyven opened #209 "LOGG-2190 always throws a warning with MySQL <5.6 installed"
MySQL 5.5 and previous versions have a bug that leaves dozens of deleted-but-held files in /tmp.

It's been recognised since 2005 (ref http://bugs.mysql.com/bug.php?id=15089), and has been fixed in 5.6+ (ref http://bugs.mysql.com/bug.php?id=66237), but hasn't been fixed in 5.5 and it looks like it won't be.

What do you guys think about adding an exclusion for mysql files in LOGG-2190?

[2016-05-31 08:14] lpirl commented on #207
It is. Thanks a lot for the instant fix!

[2016-05-31 08:14] #207 closed

[2016-05-31 15:03] mboelen commented on #209
We did some research and found indeed the same cause, after it was reported by Lynis on many systems. Sure, an exclusion for this is fine. Want to create the pull request?

[2016-06-02 11:01] pr0letariat opened #211 "SSH warnings not showing in 'Warnings' summary?"
Recently running `lynis`, I had a couple of SSH warnings:

[code]

But these did not show in the 'Warnings' summary under '-[ Lynis 2.2.0 Results ]-'.

Why is this?

[2016-06-04 15:20] lpirl commented on #144
Alternatively, consider using tasks [like those](https://github.com/lpirl/ansible-roles/blob/master/roles/managed_host/tasks/hardening-report.yml#L10-21) to run Lynis from a git checkout since malicious software will probably damage/modify/… a system-wide installation of Lynis.

[2016-06-06 11:15] mboelen commented on #211
Are they listed in Suggestions overview?

[2016-06-07 09:25] lpirl opened #212 "[TOOL-5002] detect Ansible as system management tool"
One approach could be to read the syslog. Ansible produces lines like:

[code]

Not sure how platform dependent that is, thought…

[2016-06-07 10:17] mboelen commented on #212
Thanks for sharing. This is definitely a brain challenger ;-)

Although your proposal is possible, parsing log files is not preferred as it may take a long while. If you know you have a management tool in place (like Ansible), then we suggest disabling the test in your custom.prf.

[2016-06-07 10:17] #212 closed

[2016-06-08 14:11] pr0letariat commented on #211
Yes.

[2016-06-11 12:46] mboelen commented on #211
Thanks, we have changed the screen output, to reflect that better.

[2016-06-11 12:46] #211 closed

[2016-06-11 19:37] Machou opened #213 "could not find languages directory"
Hello

I use lynis on ubuntu 16.04

i have cloned the repo from github

when i try :

[code]

My Locale :

[code]

Any idea ?

[2016-06-12 12:23] andreas63741 opened #214 "lynis not working on solaris 10"
On Solaris 10 (SunOS sol10 5.10 Generic_147148-26 i86pc i386 i86pc), some parts of lynis are not working, because certain commands or command options are not supported.

I started lynis in user mode (no admin rights).
- "id -u" option not supported, "/usr/xpg4/bin/id" may be not installed
- "date +%s" option not supported
- "find -maxdepth" option not supported
- "awk" errors because of usage of u

[2016-06-13 06:09] Iron-Bound commented on #213
Hi Machou,

Had the same issue, after doing a git pull also running ubuntu 14.02.

Believe the follow offending commit may have caused the issues. (https://github.com/CISOfy/lynis/commit/f8b134f3c3c9571f173835c3437f4e023d23e605)

**Resolved as a workaround by resetting to the last release 2.2.0.**

Thanks,
Andy

[2016-06-15 14:11] paldiz commented on #213
I tried under CentOS 7.2 the error was the same.

[code]
A possible workaround here:

[code]

The result:

[code]

[2016-06-17 11:36] #213 closed

[2016-06-21 08:57] mboelen commented on #189
Update: several parts are already rewritten and documentation updated: https://github.com/CISOfy/lynis-sdk/blob/master/documentation/08-code-guidelines.md

[2016-06-24 10:50] lpirl opened #217 "Whats wrong with SSH's compression?"
Lynis is suggesting to completely turn off SSH compression – even after authentication.
However, it does not inform users about reasons for this suggestion and does not provide a reference (say, a hyperlink) for users to find out.
Providing references to proof the plausibility of suggestions would generally increase Lynis' credibility.
(Also, I'd like to know whats wrong with SSH's compression!? :

[2016-06-24 13:43] mikemcrill opened #218 "AUTH-9308 Still Failing for Systemd"
#116 was closed but the problem still exists on CentOS 7.  I believe the issue is Lynis is finding /etc/inittab and /etc/sysconfig/init even though systemd is installed.  Lynis should check if systemd is installed and skip the check for those files

Here is the log output I have when running Lynis on CentOS7:

[code]

The test for /usr/bin/sulogin succeeds when manually ran, so those tests are OK.

[2016-06-24 18:03] kboratynski commented on #217
@lpirl, thank you for you message. Answering your question.

Let me take some sources:
- > `man sshd_config` [3]:

- > `man ssh` [2]

- > `[V-5611]`

* *Note 1*:
`CompressionLevel` option is totally useless as long as it applies for `SSHv1` only.

* *Note 2*:
Hence management networks are modern, there is no need to enable `Compression` there.

* *Note 3*:
Adding compression may increase attack su

[2016-06-25 13:20] lpirl commented on #217
Thanks for you reply, @kboratynski .

IMHO, this assumption is way too strong. Two examples: Most likely, there are managed hosts outside highly developed countries, that do use slow and maybe even volume-limited connections. Further, people do use dial-up connections for management (e.g. via mobile networks).

Apart from Note 3, the decision if compression is adequate for a connection should be c

[2016-06-25 13:25] lpirl commented on #217
(For anyone interested, [this email thread](https://lists.mindrot.org/pipermail/openssh-unix-dev/2014-November/033176.html) shines some more light on the possible attack scenarios)

[2016-06-25 19:32] kboratynski commented on #217
@lpirl
Is there anything we can help you with or explain something?

[2016-06-26 08:25] lpirl commented on #217
@kboratynski No, all good, thanks.
Adding your references I highlighted above to the docs (that Web site one is referred to) would be great.

[2016-06-26 11:51] kboratynski commented on #217
@mboelen: This topic can be closed.

[2016-06-26 11:55] #217 closed

[2016-06-27 10:22] mboelen opened #219 "Up-to-date Lynis software packages"
Some Linux distributions like Debian/Ubuntu/RHEL are known to use stable releases, resulting in outdated Lynis versions being bundled for many years. To give Lynis users the option to run the latest version, a custom Lynis repository should be created.

[2016-06-27 10:23] mboelen commented on #219
First update: there is now a [repository](https://packages.cisofy.com) available for testing, which includes support for IPv4/IPv6, HTTP1.1/HTTP2 and HTTP/HTTPS access. It has DEB and RPM packages.

[2016-07-02 12:17] lpirl opened #220 "Whats wrong with SSHd's AllowTcpForwarding?"
In analogy to #217, I miss some explanation/references regarding the suggestion to turn off TCP forwarding in `sshd`.
I do see the generic reason to "generally reduce the attack surface" but even `man sshd_config` states:

So again, it would be very beneficial to provide some pointers [on the corresponding Web site](https://cisofy.com/controls/SSH-7408/) regarding the specific suggestions.

[2016-07-02 17:03] pyllyukko opened #221 "AUTH-9288 can have false positive if there's no maximum age set"
Hi.

Found out a false positive with AUTH-9288 in [tests_authentication](https://github.com/CISOfy/lynis/blob/master/include/tests_authentication) when there's no password maximum age set.

The test tests for ```last day changed + maximum change time```, but it is possible to have the ```maximum password age``` field in ```/etc/shadow``` completely empty. This is also documented in the [man page](

[2016-07-03 19:44] kboratynski commented on #220
@mboelen: I will handle it.

@lpirl: Simple question; do you *really* need TCP port forwarding? If no - disable it.  Well, enabling TCP-forwarding might be a simple way to omit active, passive and application firewalls.

References:
[V-22464]: https://www.stigviewer.com/stig/unix_srg/2013-03-26/finding/V-22464
[STACK]: http://security.stackexchange.com/questions/22782/security-concerns-with-tcp-fo

[2016-07-03 20:01] lpirl commented on #220
@kboratynski thanks for your reply.
As I said earlier, I see the point in turning off what is not needed (yes, I do need forwarding for jump hosts to connect to hosts that are completely hidden/proxied).

As with the other issue mentioned in the OP, it'd probably be useful for future users to include your last sentence and the references on the Web site linked in the OP.

[2016-07-03 20:05] kboratynski commented on #220
@lpirl Did I explain everything clearly enough?
Can we close it?

[2016-07-03 20:10] lpirl commented on #102
Yes, this would be a relevant enhancement.
[This article, also recommends algorithms](https://stribika.github.io/2015/01/04/secure-secure-shell.html) to prefer and includes some explanations.

[2016-07-03 20:29] lpirl commented on #220
Well… is there any motivation for improving [those pages](https://cisofy.com/controls/SSH-7408/)?
As mentioned here and in #217, I guess it would help users searching for references and as well to increase Lynis' plausibility.

[2016-07-03 20:47] kboratynski commented on #220
@lpirl: I agree. I think this topic can be closed as my explaination was good enough for you. (I hope so.)
@mboelen: Would you be so kind and add my references and explainations (including these from #217) to Lynis controls page? You can close this topic as well.

[2016-07-03 20:49] lpirl commented on #220
Correct. I'll leave it open as well for @mboelen to remember.
Thanks!

[2016-07-05 08:41] mboelen commented on #219
No issues encountered, closing this item.

[2016-07-05 08:41] #219 closed

[2016-07-05 08:56] mboelen commented on #218
The check does perform a skip when systemd is found. So possibly it did not detect systemd correctly on your system.

Can you check this output: grep systemd /var/log/lynis-report.dat (after running Lynis as root)

What does it give back?

[2016-07-05 09:24] mboelen commented on #221
Thanks for sharing. Made a related change in commit https://github.com/CISOfy/lynis/commit/c181a5745f9cf31e5c667393eb35255b86357887

Does it work correctly for you as well?

[2016-07-05 10:21] mboelen commented on #214
Hi Andreas,

A first batch of improvements have been made. Do you have a more modern AWK on that system installed?

[2016-07-05 19:18] andreas63741 commented on #214
Yes, on my Solaris 10 compile server I have a gawk package from old sunfreeware.com installed and this gawk works well with lynis. Unfortunately our productive Solaris 10 servers don't have this gawk installed and Solaris awk doesn't have match operators (~ and !~) and some other gawk features.

To get gawk running by setting $AWKBINARY as environment variable  I had to change the following in ./i

[2016-07-07 08:02] pyllyukko commented on #221
Yes it does. Thanks!

[2016-07-07 08:02] #221 closed

[2016-07-09 14:12] mboelen opened #223 "openSUSE has language "POSIX""
Notice: no language file found for 'POSIX' (tried: /usr/share/lynis/db/languages/POSIX)
    See https://github.com/CISOfy/lynis-sdk/documentation/10-translations.md for more details to help translating Lynis

[2016-07-12 18:36] mboelen commented on #223
Added check to language detection in commit https://github.com/CISOfy/lynis/commit/07a113e46ec10a93aa86bac680ab95a5e539840c

[2016-07-12 18:36] #223 closed

[2016-07-13 06:38] mboelen commented on #218
@mikemcrill can you check your output, so we can look into it?

[2016-07-13 12:19] mikemcrill commented on #218
It returns multiple matches, but I think this one is what you're interested in:
`service_manager=systemd`

[2016-07-13 20:58] Pavornoc opened #226 "Doesn't currently recognize Avira AV on Mac"
During a normal system audit, Lynis shows no malware scanner installed.  Avira is installed on the system tested.

I thought maybe a discrepancy with Antivirus vs Malware, but test ID HRDN-7230 cites: "Use ClamAV or a commercial alternative".  Surely Avira AV would qualify under this condition?

Tested on Mac OS v10.11.5, Lynis v2.3.0, Avira Free Antivirus v3.3.0

[code]

[2016-07-15 08:39] lpirl opened #229 "facilitate auditing of untrusted hosts"
When generating a hardening report on a not fully trusted host – say it is exposed to the internet with a lot of not fully trusted services – the report itself can be questioned due to the use of untrusted binaries.

An option like [`chkrootkit`'s possibility to specify the root directory to test and/or the path to the binaries to use](http://www.chkrootkit.org/faq/#5) would be very handy.

I am a

[2016-07-15 20:14] mboelen commented on #229
That kind of functionality I actually created for rkhunter in the day. Not that hard to add a new binary path to scan. We will give it some thought to see what could work here. Thanks for the idea :+1:

[2016-07-15 22:43] d4t4king opened #230 "lynis-report.dat bug(?)"
In some of my reports, I get the line:
```Result: allow_url_fopen option is turned on, which can be used for riskful downloads via PHP```
...in the `/var/log/lynis-report.dat` output file.  This breaks the "key=value" symmetry of the file.

(It also looks like this line should probably be related to something else, but is just "dangling" in the report.

[2016-07-16 14:29] mboelen commented on #230
Fixed with commit https://github.com/CISOfy/lynis/commit/d02cb095da5851e20f55a6bba715715a03f93eb7

Thanks for reporting!

[2016-07-16 14:29] #230 closed

[2016-07-16 19:31] d4t4king opened #231 "Suggestion: Install debsums...[PKGS-7370]"
The `debsums` utility doesn't exist on Gentoo linux.  Not exactly sure what an equivalent might be.  File/package checksumming is built into portage (in theory -- AFAIK), but isn't used or supported.

Recommend dropping the suggestion if OS is detected as Gentoo linux -- at least until an appropriate alternative can be identified.

[2016-07-17 07:44] d4t4king opened #232 "Subtests still reporting when disabled"
The best (only?) example is the SSH hardening check (SSH-7408).  When disabling sub-checks in the default.prf (relocated and designated by `--profile`), they are still reported as suggestions.

[2016-07-17 23:10] atao60 opened #233 "wrong report for fail2ban under centos"
ATM Lynis makes two wrong assumptions under CentOS:
- the prefix for fail2ban chain in iptables is not fail2ban but f2b (see issue #206)
- jail.local overwrites jail.conf as a whole but fail2ban merges the two files

Furthermore "Checking Fail2ban jails" status is not displayed as some i18n status values are not translated in all languages.

[lynis_f2b.patch.zip](https://github.com/CISOfy/lynis/fi

[2016-07-18 17:55] mboelen opened #234 "Colors should be properly removed"
Patch offered by Mike Slifcak at Pindrop  <Mslifcak@pindrop.com>

New function: RemoveColors
Applied to --cronjob and --nocolors

[2016-07-18 17:59] mboelen commented on #234
Implemented with commit: https://github.com/CISOfy/lynis/commit/7f25a1f00e10f606c008e442a6c5574ea2e82a66

[2016-07-18 17:59] #234 closed

[2016-07-18 18:14] mboelen commented on #231
This check normally only runs on systems which have dpkg. Do you have this utility installed?

[2016-07-18 18:15] mboelen commented on #232
Can you show an example what you put in your profile?

Tip: don't change default.prf when not strictly needed. Put your changes in /etc/lynis/custom.prf (See the changelog for all details)

[2016-07-18 18:17] mboelen commented on #233
Is this patch provided tested against CentOS only?

[2016-07-18 18:44] d4t4king commented on #231
Interestingly, `dpkg` is available in the portage system but is not installed on the test system.  It seems I did, however, create a wrapper script (called `/usr/bin/oops`, symlinked as `/usr/bin/dpkg`) to remind me that I was on a Gentoo system and not a Debian one (I use a lot of both).

I removed the link and reran lynis, and debsums is no longer reported as a suggestion.

Put this as a feature

[2016-07-18 18:55] d4t4king commented on #232
Moved configs to `/etc/lynis/custom.prf`, per your instruction..... test are still tested/reported.

custom.prf sample below:
[code]

[2016-07-18 20:23] atao60 commented on #233
yes

I'll have the opportunity to install Lynis under Debian but not until next week. I'll then test the patch.

[2016-07-18 21:02] rhyven commented on #231
Haha @d4t4king I've experienced almost exactly the same thing.

[2016-07-20 19:40] vivianspencer commented on #168
I just ran into this issue also.

If I include all of my configuration in the host file (/etc/nginx/sites-available/domain.conf) there are no issues. If I separate my SSL parameters into a separate file (/etc/nginx/snippets/ssl-params.conf) I receive a false positive on [HTTP-6710](https://cisofy.com/controls/HTTP-6710/)

OS: Debian 8.5

[2016-07-21 10:45] atao60 commented on #233
About the i18n part: is it on purpose the project doesn't use the sh shell buildin gettext features?

[2016-07-22 13:47] mboelen opened #236 "PHP-2374 has incorrect text"
enable_dl is not regarding downloading of files, but enabling dynamically loading of modules.

[2016-07-22 13:48] mboelen commented on #236
Fixed https://github.com/CISOfy/lynis/commit/ccb39d5e527ea75937985f0410a53ac4ead07fb5

[2016-07-22 13:48] #236 closed

[2016-07-22 13:53] mboelen commented on #231
Checking all binaries in-depth (at every run) would be slowing down the scan a lot. Checking if a file is an ELF binary or symlink, does not give guarantees. Several "binaries" are typically symlinks, like `python`.

In this case, an edge-case looks better to me than slowing down all audits. For now leaving things as-is, but will monitor if this happens more often.

Thanks @d4t4king for the intere

[2016-07-22 13:53] #231 closed

[2016-07-23 19:25] mboelen commented on #226
Sure, that will qualify as a scanner to be detected. Can you add a process listing with the related processes on your system? Then we can add Avira as well.

[2016-07-24 13:17] ben29 opened #238 "mod_evasive not found"
hi.
i'm using centos 7.
i get this:

but the module is loaded and working:

[code]

also modsecurity:

[code]

[2016-07-24 18:18] mboelen commented on #198
Initial detection is added for Redis. @rugk can you check if it detects your instance as well?

[2016-07-26 10:26] Roennie commented on #238
How did you install mod_evasive, from a repository, compiled from source, or...?

[2016-07-26 11:27] andreas63741 commented on #214
last week I saw new lynis 2.3.1 version with some Solaris improvements and I downloaded this and tested it on our Solaris-10 (x86) servers. Conclusion is, that there are some more topics to get lynis running properly on Solaris.

Here's a diff between lynis 2.3.1 and my patches version running now on Solaris-10 (as normal user and as root) . The topics can be concluded as follows:

- Solaris awk d

[2016-07-26 14:04] mboelen commented on #232
Cause has been found and related function altered. Thanks for reporting!

Commit: https://github.com/CISOfy/lynis/commit/f9a4348f107ba0e8fa98d319cfa39ba410475844

[2016-07-26 14:04] #232 closed

[2016-07-26 14:05] mboelen commented on #183
Recently changed to have all test comparisons uppercased. So closing this issue.

[2016-07-26 14:05] #183 closed

[2016-07-26 14:10] mboelen commented on #160
This test was changed and renamed to FINT-4402. Feel free to have a look if detection works for you now. Closing this issue, as it was related to the old test.

[2016-07-26 14:10] #160 closed

[2016-07-26 19:10] ben29 commented on #238
i'm using directadmin compiler. so the confgiure for modules will not be in

all the modules is here:

[2016-07-26 22:11] d4t4king commented on #232
Confirmed!  Working as expected.  Thanks!

[2016-07-26 22:35] d4t4king opened #240 "NET-3032: Suggestion to install arpwatch when already installed"
It seems that lynis thinks arpwatch isn't installed, even if it is installed, but not running.

[2016-07-27 07:55] mboelen commented on #240
The test does check if Arpwatch is running. Suggestion line is rephrased.

[2016-07-27 07:55] #240 closed

[2016-07-27 21:34] tjancz opened #241 "lynis hangs on phase containers"
git master version of lynis hangs on phase containers and do not respond.
log file tail:
2016-07-27 23:28:02 File permissions are OK
2016-07-27 23:28:02 ===---------------------------------------------------------------===
2016-07-27 23:28:02 Action: Performing tests from category: Virtualization
2016-07-27 23:28:02 Checking permissions of /home/tomasz/lynis/include/tests_containers
2016-07-27 23:

[2016-07-28 05:45] mboelen commented on #241
Looks like you have a docker binary installed, but it is not running. Is that correct?

What happens when you manually run `docker info`

[2016-07-28 08:51] tjancz commented on #241
Hello

yes this is exactly the kayse. There is docker on Debian 8 machine but it is started only for fixed time frame doing his job and removed.

[2016-07-29 01:29] ben29 commented on #238
any update?

[2016-07-29 05:55] tjancz opened #244 "Strange characters in report log"
Hi

I'm starting lynis by command  ./lynis audit system -Q > my_report.log

and have some strange characters in the output log like below:
^[[1;37m[ Lynis 2.3.2 ]^[[0;39m

################################################################################
  Lynis comes with ABSOLUTELY NO WARRANTY. This is free software, and you are
  welcome to redistribute it under the terms of the GNU General Publi

[2016-07-29 10:06] kboratynski commented on #244
Thank you for this report. These characters are color sequences [1]; I think `less` should handle these chars. If you would like to have plain-text --  use ``no-color`` option, please.

[1]: http://www.tldp.org/HOWTO/Bash-Prompt-HOWTO/x329.html

[2016-07-29 17:57] beelsr opened #245 "bug in yum gpgcheck detection"
this snippet, while valid and `working,` is not recognized by lynis:
`gpgcheck          = 1
`

and here's a diff to fix.

[code]

[2016-07-29 18:47] beelsr opened #246 "fail2ban action not recognized"
so, in the 5102 section, tests_tools greps only for `^action = ... ` as a search term.

first, as an aside, there are a lot of the searches that should be "`\s*=\s*`"-ized to catch formatting issues per my previous issue.

now, to this specific test....

Using centOS7.  It seems lynis fails to recognize actions that use ipset.  here is my config for sshd jail that does work, but lynis gives it a f

[2016-07-29 19:21] kboratynski commented on #245
@beelsr Thank you for this report.
Would you be so kind and write a pull request?
We would appreciate your contribution.

_Postscriptum_: I am not fairly sure, yum-repo-file accepts only *one* space between parameter and `=` mark. Would you be so kind and check it? If so, I would suggest to modify your regexp to handle *only* proper yum-repos. What do you think?

[2016-07-29 21:05] beelsr commented on #245
so, I deleted my MariaDB key from my rpmdb via `rpm -e gpg-pubkey-1bb943db-511147a9`.

I then:
edited yum.conf to say `gpgcheck = 1`
verified no gpgcheck entry existed in `yum.repos.d/mariadb.repo`
issued a `yum  --disablerepo="*" --enablerepo="mariadb" install mariadb-test` command and was rewarded with the output of:
[code]

I then edited yum.conf to say `gpgcheck         = 1` and also `gpgcheck

[2016-07-29 21:12] beelsr commented on #245
and I just noticed reading my post that markdown is eating the extra spaces... :(  I thought code tags preserved the entered text exactly?
Let's try this:
first run was gpgkey oneSpace = oneSpace 1
second run was gpgkey oneSpace = manySpaces 1
third run was gpgkey manySpaces = oneSpace 1

I hope that's more clear.

[2016-07-29 22:18] beelsr commented on #244
1.  `--no-colors`
2.  `--cronjob` also strips color from output.

[2016-07-30 09:02] mboelen commented on #245
Thanks for the pull request @beelsr. Can you add it to our repository (instead of yours), so we can merge it? :)

[2016-07-30 09:03] mboelen commented on #244
Just to be sure: What language setting do you have? Can you share output of: `lynis show settings`

[2016-07-30 10:08] mboelen commented on #246
TOOL-5102 has been changed and split. Can you test on your system if detection works for you as well?
Next phase will be refactoring the code to test for multiple firewalls and services.

[2016-07-30 10:49] mboelen commented on #241
And it is also stuck when you run it manually (docker info)? Or does it ask something? Then we can see if we can give it some flag.

[2016-07-30 11:28] mboelen commented on #241
Update: We have updated the tests regarding Docker. @tjancz, can you test the latest code and see if it continues now?

[2016-07-30 11:29] tjancz commented on #241
Sure, I'll do it in monday morning. Thx!

[2016-07-30 14:09] mboelen commented on #189
Update: more tests rewritten and improved for readability and style. Keep this issue open until most areas are improved

[2016-07-30 14:17] mboelen commented on #233
The test has been rewritten to use the client instead of configuration files. This way we pick up on the actual processed data. Have a look at recent commits and see if that improved it for you as well.

Regarding i18n: current method looked easier and there were doubts regarding support for all shells (csh/sh/ksh), especially on other platforms than Linux. So just keeping things simple.

[2016-07-30 14:17] #233 closed

[2016-07-30 14:17] mboelen commented on #206
Changed to the logic of fail2ban test were implemented, so closing this issue as well. Thanks for the insights and help.

[2016-07-30 14:17] #206 closed

[2016-07-30 14:57] beelsr commented on #245
ah yeah, just figuring out this guthub stuff...  :)

[2016-07-30 15:16] mboelen commented on #245
No problem :) We appreciate any help to make the software better. Pull request merged.

[2016-07-30 15:16] #245 closed

[2016-07-30 15:17] mboelen commented on #238
Marked as a bug, we will investigate it. Thanks for reporting.

[2016-07-31 09:49] mboelen commented on #165
Close with commit https://github.com/CISOfy/lynis/commit/9b00ea7d403bfe975d4e4e022a6f826b8d9f6372

[2016-07-31 09:49] #165 closed

[2016-07-31 09:49] mboelen commented on #157
Closing, most of this functionality is implemented. New tests will be created later when required.

[2016-07-31 09:49] #157 closed

[2016-07-31 10:07] rugk commented on #198
It says:
[code]

This looks okay to me.

[2016-07-31 10:08] rugk opened #248 "Wrong link for arpwatch"
Console:
[code]

This links to https://cisofy.com/controls/MAIL-8818/, which is however a completely different issue as it is talked about Postfix there and not arpwatch.

[2016-07-31 11:03] timreeves opened #249 "Deprecated use of sed?"
Hi,
I installed from current packages on Ubuntu 14.04 (no problem) and on Debian 8.5, where most calls give me this message as the first message (but then seem to work):
sed: -e expression #1, char 53: unknown option to `s'
I got the latest version from GitHub and copied the files into place, but it does not change.
Hope this helps, thx for all the good work!
Cheers,
Tim

[2016-07-31 11:10] mboelen commented on #249
Hi Tim. Just to be sure: remove all installed artifacts from Lynis on the Debian system.

Then run `git clone https://github.com/CISOfy/lynis`. Go into the Lynis directory (`cd lynis`) and run `./lynis audit system`.

Do you still get the same output then?

[2016-07-31 11:36] mboelen commented on #226
Hi @Pavornoc, do you have the process listing, so we can add it?

[2016-07-31 12:08] rugk commented on #248
I used the lastet git version (master branch).

[2016-07-31 12:13] mboelen commented on #248
Are the other entries you see having the correct ID? Looks like you got a different ID assigned (for unknown reasons).

[2016-07-31 12:43] rugk commented on #248
Yes, the other IDs are correct.

[2016-07-31 12:46] mboelen commented on #248
Run lynis with --debug and --verbose to see if that shows the correct ID during execution as well.

[2016-07-31 13:14] rugk commented on #248
[code]

[2016-07-31 13:46] mboelen commented on #248
Found it. Seemed it was triggered in just some cases and was caused by MAIL-8818 itself.

Corrected for you now as well?

[2016-07-31 13:48] timreeves commented on #249
Hi Michael,
did that - purged the installed package and autoremoved 'menu'. Then cloned and tested as you suggested.

1)
./lynis show profiles
sed: -e expression #1, char 53: unknown option to `s'

2)
./lynis audit system
...
[+] Initializing program
------------------------------------
  - Detecting OS...                                           [ DONE ]
sed: -e expression #1, char 53: unknown o

[2016-07-31 14:11] mboelen commented on #249
I just gave it a try on a Debian 8.5 myself, but no errors here. So it looks like it might have to be a specific profile option.

Can you run: `sh -x ./lynis show profiles`

A few lines around the sed error, there should be a clue what it was doing when it triggered the error. Then we can use this to improve the test.

Thanks!

[2016-07-31 14:29] timreeves commented on #249
+ egrep ^ssl-certificate-paths; /tmp/lynis.OQHKXT1txo
+ FIND=ssl-certificate-paths;/etc/letsencrypt:/etc/pki:/etc/ssl:/usr/local/share/ca-certificat...
+ [ -z ssl-certificate-paths;/etc/letsencrypt:/etc/pki:/etc/ssl:/usr/local/share/ca-certificat...
+ Debug Option ssl-certificate-paths was already configured, overwriting previous value in /tm...
+ [ 0 -eq 1 -a 1 -gt 0 ].
+ sed -i -e s/ssl-certific

[2016-07-31 15:23] mboelen commented on #249
Alright, after a serious session of troubleshooting a change has been made which should now work.

Use `git pull` to update your version and then use `./lynis show settings` to see if your settings are correct (set by custom.prf).

[2016-07-31 15:34] timreeves commented on #249
Hi Michael,
YES, I can confirm that the "sed" message has gone away.
When approx will you package and release 2.3.2?
Thanks so much for your Sunday-Session!
Cheers, Tim

root@HIDDEN # ./lynis show profiles
/root/lynis/default.prf
/etc/lynis/custom.prf
~/lynis
root@HIDDEN # ./lynis show settings
# Compressed uploads
compressed-uploads=0

# Use non-zero exit code if one or more warnings were found
e

[2016-07-31 15:38] mboelen commented on #249
You checked that the settings are OK as well?

Package will be released soon (maybe upcoming week), as it contains enough improvements to ship it out.

[2016-07-31 16:08] rugk commented on #248
A `git pull` and another analysis later it is still the same.

[2016-07-31 16:09] timreeves commented on #249
Not quite sure how you mean that... I had not personalised the settings at all, my tests were with full default settings. Am personalising right now - and have a quick question:

Lynis says: "Purge old/removed packages (40 found)" - but when I call "apt purge" it finds 0 to purge.
Am I doing something wrong?
Thanks!

[2016-07-31 18:47] mboelen commented on #249
Closing this one again, to avoid confusion with original bug (sed issue).

Regarding the purged packages: have a look at lynis.log, as that should list some more details.

[2016-07-31 18:47] #249 closed

[2016-07-31 18:51] mboelen commented on #248
Can you share the lynis.log entries of both MAIL-8818 and NETW-3032?
What is the OS on which this happens? Then we can test it on a similar system.

[2016-07-31 20:42] rugk commented on #248
Debian 8.5, ARM device

[code]

[2016-08-01 04:17] tjancz commented on #241
Just checked it is ok now. Thx

[2016-08-01 04:20] tjancz commented on #244
Sure
# Compressed uploads
compressed-uploads=0

# Use non-zero exit code if one or more warnings were found
error-on-warnings=0

# Language
language=pl

# License key
license-key=[not configured]

# Machine role (server or desktop)
machine-role=server

# Pause between tests (in seconds)
pause-between-tests=0

# Quick mode (non-interactive)
quick=0

# Show tool tips
show-tool-tips=1

# Skip plugins

[2016-08-01 04:22] tjancz commented on #244
If You want I could provide You english <-> polish translation for output info

[2016-08-01 07:31] mboelen commented on #244
One thing you can try is setting the language to English (language=en) in custom.prf and then see if this solves the output.

Otherwise, I suspect your shell. What does `file /bin/sh` show? If it is a symlink, to what?

Yes, we would love a translation for Polish. The "pl" file has been added. You can fork it, change the translations, then remove the # sign for each line you have translated. And p

[2016-08-01 07:31] mboelen commented on #241
Thanks for confirming, closing this issue.

[2016-08-01 07:31] #241 closed

[2016-08-01 08:52] hbokh opened #250 "Lynis 2.3.1 - cronjob output attachment is "noname" and base64"
Using this cronjob for Lynis on the first of every month:

[code]

the attached report used to be ASCII plain text, but with Lynix 2.3.1 it is a base64 attachment named `noname`. Some of the SMTP-headers:

[code]

Difference on the files in directory `var/log/lynis/`, with `file`-command:

Lynis 2.2.0 reports:
`report-host0123.20160701:          ASCII text`

Lynis 2.3.1 reports:
`report-host0123.2

[2016-08-01 09:47] mboelen commented on #250
The format of the report has not changed. There is no toggle to change it in any way.

Looking at the script: Your DATA variable specifies a file ending with ".txt". Your cat command uses a different file (without .txt). So that might be incorrect for the mail command.

Tip: run a diff against both files to see what is different in the files. That might give also a clue why the file command found

[2016-08-01 10:03] mboelen commented on #248
Ok, that looks good. At the end, the report is created by looking at the report file.

What does `grep -i suggestion /var/log/lynis-report.dat` provide as output?

[2016-08-01 14:20] hbokh commented on #250
Thanks Michael, it's been a long while since we discussed lynis! :-)
Anyway, the output of v2.3.1 still has escape sequences in the "Suggestions"-sections, where v2.2.0 does not. A regular diff won't show these differences, but vim does.

[code]

If I delete these `^[[0;37m` and do the `cat | mailx`-thing on that edited file, I receive what I want in plain ASCII-text.
So my impression is v2.3.1 is

[2016-08-01 14:29] hbokh commented on #250
FYI Running like this makes no difference - still esc. seq. in the report:

`./lynis audit system --auditor "${AUDITOR}" --cronjob --no-colors > ${REPORT}`

[2016-08-01 14:34] rugk commented on #248
[code]

[2016-08-01 15:40] mboelen commented on #250
Ah, that escape sequence reveals also the cause. It actually already has been solved for upcoming release, so that will also solve this issue.

A new function RemoveColors will handle coloring for non-colored display now: https://github.com/CISOfy/lynis/blob/master/CHANGELOG.md#functions

We will push out a new release soon (expected delivery is this week).

[2016-08-02 18:57] mboelen commented on #248
Nothing out of the ordinary there. Will perform some more testing to see if there is another test causing this.

Just to be sure, can you show your `lynis show settings` to see if that may give an additional hint?

[2016-08-03 01:34] beelsr commented on #246
just did a pull and have whatever's current as of the last hour or so. shows 2.3.2 in the log.
`./lynis --debug  --tests "TOOL-5102 TOOL-5104"`

and, it works...
[code]
[code]
[code]

[2016-08-03 08:42] mboelen commented on #246
Thanks, closing this issue then.

[2016-08-03 08:42] #246 closed

[2016-08-03 08:43] mboelen commented on #250
Closing this issue, as GitHub version has already the changes.

[2016-08-03 08:43] #250 closed

[2016-08-03 19:35] rugk commented on #248
I think these are the defaults:
[code]

[2016-08-06 08:31] mboelen commented on #218
Hi @mikemcrill, we have made a bunch of changes. My output on CentOS 7 is good now. Yours as well?

2016-08-06 10:27:14 Performing test ID AUTH-9308 (Check single user login configuration)
2016-08-06 10:27:14 Test: going to check several systemd targets now
2016-08-06 10:27:14 Test: checking if target console-shell.service is available (/lib/systemd/system/console-shell.service)
2016-08-06 10:27:1

[2016-08-08 12:09] mikemcrill commented on #218
Yes, it is working now.  Thank you for your help.

On Sat, Aug 6, 2016 at 3:32 AM, Michael Boelen <notifications@github.com>
wrote:

[2016-08-08 13:33] mboelen commented on #218
Thanks for the confirmation. Closing this issue.

[2016-08-08 13:33] #218 closed

[2016-08-08 13:34] mboelen commented on #244
Hi @tjancz, Did you have a look at what `file /bin/sh` shows?

[2016-08-10 05:58] #187 closed

[2016-08-10 18:43] erialor opened #257 "PHP5.6 detection?"
I see Lynis is searching for /etc/php/cli-5.6/php.ini but not /etc/php/apache-5.6/php.ini (which I'm using)? only 5, 5.4 and 5.5

[2016-08-11 07:15] mboelen commented on #257
The required change is adding the path in include/tests_php. Dare to make the change and create a pull request?

[2016-08-11 07:46] hbokh commented on #250
Confirm solved in 2.3.2. Hartelijk dank!

[2016-08-11 08:11] mboelen opened #259 "Lynis should have the option to disable repository refresh"
Some users will have to start a ghost hunt to determine how their repository data got refreshed. By default Lynis checks what package manager is used and refreshes the data, to have the latest view on any possible vulnerable packages. With an outdated repository, this would not work properly or miss out on important packages.

[2016-08-11 08:11] mboelen commented on #259
Fixed with commit https://github.com/CISOfy/lynis/commit/e176011912161bae7746c6af6cc1e688ce2d1507

[2016-08-11 08:11] #259 closed

[2016-08-11 13:00] mboelen commented on #248
Another batch of tests have been altered. Still the same output with latest master?

[2016-08-11 15:06] rugk commented on #248
Yes, it is working now.

[2016-08-11 15:06] #248 closed

[2016-08-11 15:51] mboelen commented on #110
It has been a while. A patch has been applied in the meantime which does scanning of files in /etc/profile.d. This should fix your finding, therefore closing this issue. If it still gets triggered, feel free to reopen.

Thanks for reporting and contributing to Lynis.

[2016-08-11 15:51] #110 closed

[2016-08-11 15:52] mboelen commented on #144
Closing this issue, as no actions will be performed at this moment. Any improvements or pull requests can be added directly to that repository/project.

[2016-08-11 15:52] #144 closed

[2016-08-11 15:54] mboelen commented on #27
Closing this issue, to clean up a little bit. Right now, no changes are made to the PHP scanning logic, as it needs a rewrite.

[2016-08-11 15:54] #27 closed

[2016-08-11 15:55] mboelen commented on #102
Feel freel to add pull requests if you see improvements. Please specify them with the pull request, so we can add details to the website, like explaining why one would choose a specific cipher or protocol, and how to configure it.

[2016-08-11 18:10] mboelen commented on #198
Requirepass test implemented. Can you test to confirm it works for you as well?

https://github.com/CISOfy/lynis/commit/30cb17cbc48f4579b5fc0bfb7c0e290ffea2dd53

[2016-08-11 19:45] erialor commented on #257
Mistyped - should be apache2 and not apache.
Not sure I'm up for making the change - not using Git/not installed....

[2016-08-11 22:03] rugk commented on #198
I got this message:

     Details: /etc/redis/redis.conf
      https://cisofy.com/controls/DBS-1884/

and this in the overview:

   Redis (server) status                                     [ FOUND ]
[DEBUG] Performing test ID DBS-1882 (Redis configuration file)
[DEBUG] Performing test ID DBS-1884 (Redis: secureauth option configured)
     Redis (secureauth configured)                           [

[2016-08-12 05:32] kristous opened #260 "Wrong suggestion text for empty MySQL root password"
Just tested my Desktop (Ubuntu 16.04) with 2.3.2.

An empty MySQL root pasword led to following suggestion in the results:

  ! Consider hardening SSH configuration [DBS-1816]
      https://cisofy.com/controls/DBS-1816/

If you visit the link you get the recommendation to set a mysql root password.

I guess it is wrong text for the mysql root password check.
It could also be wrong link for the SSH

[2016-08-12 07:36] mboelen commented on #260
Why is the text incorrect?

[2016-08-12 07:58] mboelen commented on #198
Mixed up the setting, which has now been corrected. The `bind` and `rename-command CONFIG` has been added.

Would be great if you can run another test and confirm that these settings now work all correctly for you as well.

[2016-08-12 08:19] kristous commented on #260
Because it mentions 'harden your SSH'

  ! Consider hardening SSH configuration [DBS-1816]
      https://cisofy.com/controls/DBS-1816/

but if I follow the link there is

--
DBS-1816 - Empty root password for MySQL
Description

    No password has been set for MySQL 'root' user

Group

    Database

How to solve

    Define a password, to prevent that unauthorized users can log in as
'root' on MyS

[2016-08-12 08:38] mboelen commented on #260
I see what you mean. Looks like something goes wrong with parsing the log file.

Can you share the output of `grep "Suggestion" /var/log/lynis.log` (if you executed Lynis as root). Then we can hunt down the line where things go wrong.

[2016-08-12 08:48] kristous commented on #260
Here it is. BTW the problem DBS-1816 does exist on my system, so it is possible to login as root to mysql without password.

2016-08-12 07:07:16 Suggestion: Set a password on GRUB bootloader to prevent altering boot configuration (e.g. boot in single user mode without password) [test:BOOT-5122] [details:-] [solution:-]
2016-08-12 07:07:19 Suggestion: Install a PAM module for password strength test

[2016-08-12 10:25] mboelen commented on #257
You can create pull request without Git client. All from GitHub and do an inline edit. We appreciate more contributors, and a great way to show attribution on who contributed ;-) Would that make a difference?

[2016-08-12 15:56] rugk commented on #198
Yes, it's working:

[code]

It does not scan my custom redis config files, but I think this is expected.
Just when you run multiple redis servers, you usually have multiple config files.

The bad thing is this config files can be anywhere, but usually they are copies of the `/etc/redis/redis.conf`

Another thing you may want to add: Whether the redis file has this ownership and permission set: `-r

[2016-08-12 17:10] erialor commented on #257
I *think/hope* I've done it now :)

[2016-08-12 17:15] mboelen commented on #257
Thanks, you did it. Closing this issue with pull request https://github.com/CISOfy/lynis/pull/261

[2016-08-12 17:15] #257 closed

[2016-08-13 09:33] mboelen commented on #198
Can you show your `lsof -n | grep redis` output? It might give a good clue if that is suitable for detecting which conf files are used.

[2016-08-13 13:11] rugk commented on #198
No, not really. There is no `conf` in the output, but only TCO connection, and the files saved in `/var/lib/redis/`. Personally I would just check everry `.conf`file in `/etc/redis/`.

[2016-08-13 15:08] mboelen commented on #198
Had a look at /proc structure, but it seems like Redis changes its cmdline property, so can't see with what configuration file it was started. When using the client, you can see the configuration file (in /var/lib/redis), but that is not an actual file on disk. LSOF output doesn't reveal anything either.

So now scanning the /etc/redis directory, with permission check.

How does it look in your se

[2016-08-13 20:11] rugk commented on #198
Yes, it seems. (It shows the output messages multiple times now in the verbose & debug view. There are no file paths shown however.)

[2016-08-14 14:07] mboelen commented on #198
And in the logfile?

[2016-08-14 14:22] rugk commented on #198
Yes, there they are shown.

However all - except of the files except of the usual `redis.conf` file are detected as "Sentinel configuration file". I think this is not correct. They are basically just copies of the main `redis.conf` file, with a few modifications.

[code]

[2016-08-14 14:23] rugk commented on #198
However only the correct Sentinel file is skipped:
[code]

[2016-08-14 14:25] rugk commented on #198
Ah, now I just saw what I got wrong: `checking if /etc/redis/redis_FILE1.conf this is a Sentinel configuration file` (I though, "No it is not!").
But I overlooked this: `Result: not a Sentinel configuration file. Now scanning if it is a Redis configuration file`

So you maybe just want to remove the "this", so that it states `checking if /etc/redis/redis_FILE1.conf is a Sentinel configuration file

[2016-08-15 18:09] mboelen commented on #229
Hi @lpirl, the --bin-dirs options has been added. Can you help testing?

[2016-08-16 06:38] mboelen commented on #168
Hi @tuxayo and @vivianspencer. A rewrite of nginx has been done, to allow parsing of nginx files more extensively. Also included is a second level of file includes. Does it work properly now for you both? The configuration files parsed are displayed on screen (except mime.types).

[2016-08-16 12:25] lpirl commented on #229
Thanks @mboelen !
How does `--bin-dirs` actually work? I see it is considered in [include/binaries](https://github.com/CISOfy/lynis/blob/32fd85155d696fd80011397f42725a58914712da/include/binaries) but the `…BINARY` variables do not seem to be used consistently.
If the solution does not provide significantly more trust, I might consider to

1. sshfs-mount the remote `/` on a trusted machine
2. mount

[2016-08-16 12:26] mboelen commented on #198
Text is updated. Better?

[2016-08-16 17:39] rugk commented on #198
I think already the old text was okay. :smiley:
So I think this issue can be closed, can't it? Everything I could imagine about redis has been implemented.
Maybe only block some more dangerous commands with "rename-command" such as [these listed here](https://www.digitalocean.com/community/tutorials/how-to-secure-your-redis-installation-on-ubuntu-14-04#step-5-%E2%80%94-renaming-dangerous-commands)

[2016-08-17 12:15] mboelen commented on #229
It sets the binary paths to scan (similar like you would change your PATH). As you can imagine, this change has to be applied in phases, so that every single binary used is defined. For that it would be good to do testing together. One thing I was thinking of is adding some "canary" binaries in the normal directories, which get triggered when used. This way we instantly know when a test still uses

[2016-08-18 06:23] Geyup opened #262 "Kernel Hardening Output vs default.prf entries?"
I'm using  lynis-2.3.2 in Slackware 14.2 x86_64.

In /etc/lynis I only have one file, ```custom.prf``` edited from default.prf. I didn't make any changes to the;

Processes
Kernel
Network

When I run as, ```lynis audit system``` this is the output for the Kernel Hardening;

Kernel Hardening
  - Comparing sysctl key pairs with scan profile
    - kernel.core_uses_pid (exp: 1)

[2016-08-18 09:47] mboelen commented on #262
Great question. Non-existing keys are not displayed (as they can't be configured anyways). It does also include keys for FreeBSD for example.

[2016-08-18 13:02] mboelen commented on #262
As your question involved another issue, we have made some changes today to the code.

Have a look at the new format for dealing with sysctl settings (in default.prf). If you add it to your custom.prf, they should also show up now. Non-existent keys will never show though, as explained.

Did this solve your issue?

[2016-08-18 13:05] mboelen commented on #171
The related test (KRNL-6000) has been rewritten, so has the format of items in the profile. This way they can be used in multiple profiles. Order of preference: 1) personal profiles, 2) custom.prf, 3) default.prf. So by defining them in your personal or custom.prf, will define what value will be checked.

Can you test if it works for you?

[2016-08-18 13:06] mboelen commented on #145
As no action has been taken for a while, this item will be ignored for now, until there is a need to use it again. The workaround will be sufficient for the time being.

[2016-08-18 13:06] #145 closed

[2016-08-18 13:07] mboelen commented on #198
Yes, a rename should be caught by that as well. So closing this issue. Thanks for thinking along. Hope you will bring in more ideas (or even pull requests) :+1:

[2016-08-18 13:07] #198 closed

[2016-08-18 13:08] mboelen commented on #260
Several changes have been made. Can you see if you still have the issue?

[2016-08-18 13:09] #209 closed

[2016-08-18 13:33] mboelen commented on #112
@virtadpt support for Syslinux has been added

[2016-08-18 13:35] mboelen commented on #112
@Huskynarr can you test if the latest version still gives you error? On what line?

[2016-08-18 13:36] mboelen commented on #168
Any of you two who has a few minutes to test if things are working now? Then we can finish it up for next release.

[2016-08-18 16:23] vivianspencer commented on #168
Sorry this is still not working for me, I've checked the log and it's finding the includes but I get the "Result: this include does not point to a file"

[2016-08-18 18:18] virtadpt commented on #112
Thank you very much, @mboelen.

[2016-08-18 22:04] Geyup commented on #262
```Non-existent keys```, I don't understand, I thought all of the Kernel sysctl configuration options one could consider exist for every distro the same?

[2016-08-19 05:34] kristous commented on #260
This fixed the issue.

[2016-08-19 05:34] #260 closed

[2016-08-19 07:25] mboelen commented on #262
Every Linux distribution, or UNIX-based operating system, has different keys. Sure, there is some overlap, but it depends on your kernel version, what the distribution implemented, etc.

Yes, your system has a lot of them. Lynis is not interested in all of them, because some are specific to your network interfaces (so you get more sysctl keys if you have more interfaces). Lynis checks for those ke

[2016-08-19 07:26] mboelen commented on #244
Any update @tjancz ?

[2016-08-19 07:30] tjancz commented on #244
Now it is working as expected just added cron job as parameter.
Thank You!

[2016-08-19 07:33] mboelen commented on #168
Can you share the related include line?

[2016-08-19 07:35] mboelen commented on #244
Thanks for the quick reply. If you have the chance, the Polish translation would be appreciated. Closing this issue to keep the list tidy.

[2016-08-19 07:35] #244 closed

[2016-08-19 09:17] vivianspencer commented on #168
Yes sorry, I have several config files in the folder /etc/nginx/snippets,  so the includes come up as "snippets/ssl-params.conf" for instance.

In my log this is what I get:

2016-08-19 07:46:49 Result: found option include with parameters snippets/cache.conf
2016-08-19 07:46:49 Found unknown option include in nginx configuration
2016-08-19 07:46:49 Result: found option include with parameters sni

[2016-08-19 09:51] mboelen commented on #226
Any update?

[2016-08-19 23:09] Geyup commented on #262
Yes of course security is what we're talking, just wasn't sure if any of these I have are also related to the topic...

Also what about RFC 5961 issue, dating back to kernel 3.6x...

Is this a concern Lynis should be looking at, and I read it's suppose to be fixed in 4.4.18, but not sure...

And I read this is somewhat a way around, till the fix comes out;

```net.ipv4.tcp_challenge_ack_limit = 99

[2016-08-21 07:24] Geyup opened #264 "machine-role=desktop - Options Seem Extreme For Desktop..."
I have my .prf for `machine-role=desktop`, using a stand alone, single user, at home only desktop, I find Lynis options a bit extreme.

Don't take me wrong, I love lynis and thank you very much, but for a desktop user this needs to be toned down, you're going to scare the Newbies! LOL...

I understand trying to find a happy balance here for a desktop user a possible bit of a task, but I think the

[2016-08-21 18:36] mboelen commented on #264
We recently added one detection method to determine if a system is a notebook. Together with the configuration setting, this opens up the possibility to add some more fine-grained advice, depending on the hardware type.

Your suggestions look reasonable for the "desktop" profile. So let me ask a question in return: Care to make a few pull requests? If so, please do one item per request, so it is e

[2016-08-22 16:35] mboelen commented on #262
For temporary keys you like to test, or any others, you can add them to your custom.prf. This way you can customize the things you want to check. In this case the TCP challenge ACK limit is a network related setting. While we are aware of the issue surrounding it (and the workaround you have listed here), this is something we don't check at this moment. Otherwise, we would have to check the specif

[2016-08-22 16:35] #262 closed

[2016-08-23 01:25] Geyup commented on #262
I'm not following here with the ```temporary keys```?

I'm assuming at this link are my keys?

http://dpaste.com/3QNFAV6

If so, then how would I know, because I'm looking at the defaults in a distro, now I'd have to go online and research to determine if these are hardened or not, so really this seems pointless as an end-user, because now I'm making the judgement call here, as to what changes to

[2016-08-23 01:27] Geyup commented on #264
Pull requests I'm not geek enough for all this, I need the experts here to do all this...

[2016-08-23 08:04] mboelen commented on #264
It's not that scary as it looks ;-)

Here is a good tutorial to start: http://hisham.hm/2016/01/01/how-to-make-a-pull-request-on-github-a-quick-tutorial/

[2016-08-24 07:34] lpirl commented on #229
@mboelen, thanks for your reply. I understand what you wrote.
Nevertheless, let me try to rephrase my concerns more precisely: even if `--bin-dirs` is used, most of the tests just seem to call the binaries directly (e.g. `egrep` and `awk` [here](https://github.com/CISOfy/lynis/blob/cde3f85b574b56d7ae4de9c373a03dddba316e4f/include/tests_ssh#L244)) instead of using the `…BINARY` variables provided b

[2016-08-24 20:38] tuxayo commented on #168
I tried on version 2.3.3 and still get that SSL is not configured.

Here are my config files

[code]

[code]

[code]

[2016-08-25 01:07] Geyup commented on #264
ACTUALLY I shouldn't of made it sound the way I did, and under sale myself, oh I'm plenty geek enough, just not the geek that likes messing with Git that is...

So I just come here make my reports and move on.

I also just assumed that the things I suggested, you'd take them, for any you like and make the changes, not something I had to do is all...

[2016-08-25 02:15] Geyup commented on #264
I just downloaded and used 2.3.3

I removed these two from plugins;
plugin=pam
plugin=systemd

Next I ran lynis audit system and under the Users, Groups and Authentication it shows me this;

 - PAM password strength tools                               [ SUGGESTION ]
  - PAM configuration file (pam.conf)                         [ NOT FOUND ]
  - PAM configuration files (pam.d)

[2016-08-26 08:44] mboelen commented on #264
While we really appreciate any piece of feedback, the Lynis Community version is named that way for a reason. We like to have more people helping out to make the software better. You have good tips and by committing even the smallest changes, you become part of the family. Especially because you already looked deeper in the configuration and code, your pull requests would be great. Git might be un

[2016-08-26 08:45] mboelen commented on #264
Yes, currently we have only two community plugins. When people from the community submit more tests that should be in the plugins, then we happily share them.

[2016-08-26 08:51] mboelen commented on #229
Yes, some references are still to the binary name, instead of a variable. In small batches we replace them. Most egrep, grep, and awk references are now changed in the tests: https://github.com/CISOfy/lynis/commit/679e8c628e2a42df13bec79da256b1bf7b68d6b3 Next in line are ls, ps, sort, etc.

1. No, you didn't overlook it. We don't use PATH at all.
2. Lynis has the goal to do its detection on its ow

[2016-08-26 23:03] Geyup commented on #264
Thanks and I don't have time...

[2016-08-28 13:11] afa- opened #266 "Accept arpon as ARP monitoring software"
In test **NETW-3032** only _arpwatch_ is accepted as ARP monitoring software.
It should also accept [_ArpON_](https://en.wikipedia.org/wiki/ArpON) software.

Thanks.

[2016-08-28 14:38] mboelen commented on #266
Agree. Want to help the project with a pull request?

[2016-08-29 17:31] #266 closed

[2016-08-29 18:06] mboelen opened #269 "Lynis should warn when profile has \r\n as line separator"
When copying data from Linux system to Windows (e.g. changing a file via Samba), it may break the detection of settings.

[2016-08-30 12:00] mboelen commented on #264
Alright, that is fine. I will leave this open for a bit with the "up-for-grabs" tag, and also to determine if there is enough interest for these changes. If someone wants to join development and pick them up, this is a great list to start with.

[2016-08-30 17:27] charleswhchan opened #270 "STRG-1840 - Unclear what to do with disable drivers like USB|firewire storage when not used"
Running Lynis on an embedded Linux system, received a warning but not sure what can be done to fix it. I am also wondering if the tool is giving a false positive error?

From lynis-report.dat:
[code]

From lynix.log:
[code]

Filesystem:
[code]

[2016-08-31 11:57] mboelen commented on #270
As you don't have any blacklisted modules, the suggestion shows up to configure that (when applicable for your situation)

Here is a related link from our blog that should give you some guidance: https://linux-audit.com/kernel-hardening-disable-and-blacklist-linux-modules/

Hopefully that will give you enough insights to get things configured. As this issue is considered to be a question (and now

[2016-08-31 11:57] #270 closed

[2016-08-31 14:04] mdearlove opened #271 "System Warnings no longer showing Low, Medium or High (L,M,H) rating - version 2.3.3"
lynis-report.dat no longer contains L,M or H ratings.

e.g. High rated item
Version 2.3.3
KRNL-5830|Reboot of system is most likely needed|-|-|

full line looks like:
_warning[]=KRNL-5830|Reboot of system is most likely needed|-|-|_

Version 2.2.0
KRNL-5830|Reboot of system is most likely needed|**H**|-|

Is this a bug or intended behaviour? I was using the rating to "Find All" from a summary repo

[2016-08-31 16:05] charleswhchan commented on #270
@mboelen Thanks for the reply.

When I try and follow the instructions in the link above, I am unable to find any kernel module to blacklist:
[code]
And to make sure the find command is working correctly:
[code]

[2016-08-31 16:10] mboelen commented on #271
Hi. It is intended behavior, as part of an ongoing rewrite. The rating was never really used, so as part of our simplicity principle, we stripped it from the output. Another reason is that a warning for one system could be high priority, while the same warning for another system could be fine.

Tip: Have a look in the ReportWarning and ReportSuggestion functions for the details regarding the field

[2016-08-31 16:10] #271 closed

[2016-08-31 16:14] mboelen commented on #270
Maybe your system does not have the modules, as you are running on an embedded Linux version. You might want to check if the support is compiled into the kernel itself. Hardening is part of learning your system better and see what does (or does not) apply. If you have a Linux kernel configuration file, then most likely the answer will be there.

[2016-08-31 18:59] charleswhchan commented on #270
Thank you. @mboelen

[2016-09-04 20:15] bluec0re opened #273 "nftables active and rules in place but still reported as not active"
[code]

[2016-09-04 20:21] bluec0re opened #274 "systemd NTP synchronization not detected"
timedatectl reports enabled NTP client:
[code]
but it's not detected:
[code]

[2016-09-05 09:07] mboelen commented on #273
Thanks for reporting.

Can you show the related details from your lynis.log file (section: FIRE-4536)?

[2016-09-05 09:54] bluec0re commented on #273
FIRE-4536 and ongoing:
[code]

[2016-09-05 10:30] mboelen commented on #273
Is your system using a Linux kernel with modules or a monolithic kernel?

We have just made some changes. Can you clone/pull the latest version here on GitHub and run it again. What does the log now say?

[2016-09-05 11:48] marrrt opened #275 "Bug in FILE-6344 on CentOS 7"
Pull request for #263 breaks test on CentOS 7.

Output from mount is formatted as follows:

```proc on /proc type proc (rw,relatime,hidepid=2)```

Release is ```CentOS Linux release 7.2.1511 (Core)```

[2016-09-05 17:29] mboelen commented on #275
Change has been applied, can you test if it solved for you now?

https://github.com/CISOfy/lynis/commit/0a0453e1bc1683861880f09529ad8a44c12566fc

[2016-09-05 17:49] mboelen commented on #274
Detection is indeed incorrect and has been changed. Can you test if it detects it now for you?

[2016-09-05 19:26] marrrt commented on #275
Works for me on the same machine as above.

Thanks for the quick turnaround.

[2016-09-05 19:50] bluec0re commented on #274
Works

[2016-09-05 19:50] #274 closed

[2016-09-05 19:52] bluec0re commented on #273
[code]

Works but I've got an error in the stdout output:
[code]

[2016-09-05 20:01] bluec0re commented on #273
No sry, didn't worked. After removing the ip_tables module it still reports NOT ACTIVE.

Maybe regarding: Is there a reason why FIREWALL_ACTIVE is not set during the nftables checks?

[2016-09-05 20:02] mboelen commented on #273
Code is updated to solve the "-d" error.

What Linux distro are you using?

[2016-09-05 20:04] bluec0re commented on #273
[code]

[2016-09-05 20:06] bluec0re commented on #273
Error fixed but issue still there. I think thats a confusion about FIREWALL_ACTIVE and NFTABLES_ACTIVE. The later one is never read in the test_firewalls script but only set. The first one is read for the final "- Checking host based firewall" output but never set in the nftable cases (but in the other firewall tests).

[2016-09-05 20:09] bluec0re commented on #273
btw. the `TRBINARY` variable is never set in the binaries script as it is not testing for the `tr` binary.

[2016-09-06 10:23] mboelen commented on #275
Thanks for confirmation.

[2016-09-06 10:23] #275 closed

[2016-09-06 18:58] #273 closed

[2016-09-07 07:33] d4t4king commented on #7
@mboelen I'm seeing a similar issue on a different Gentoo VM.  Similar build, just a (slightly) different package set.

Test BOOT-5122 is skipped via /etc/lynis/custom.prf, but BOOT-5121 is not.  Do you want to reopen this issue or should I file a new one?

[2016-09-07 08:01] mboelen commented on #7
A new one please. Thanks :)

[2016-09-07 18:42] d4t4king opened #277 "Bootloader not detected on Gentoo VM"
Grub is installed.

[2016-09-14 13:51] mboelen commented on #277
Can you show the relevant log section and the files on disk?

[2016-09-17 06:22] inferiorhumanorgans opened #280 "PKGS-7381 is broken and gives false negatives"
Here's what the installed tools do:

[code]

Here's what lynis does:

[code]

Perhaps it would be more appropriate to either check the return code from pkg(8) or do what the weekly security scan does and use `pkg -q`?

[code]

[2016-09-17 08:45] mboelen commented on #280
Thanks for reporting.

What is the exit code if you run pkg audit -q when there is a finding? What if there isn't one?

[2016-09-17 09:10] inferiorhumanorgans commented on #280
I believe 0 = no vulnerabilities found, 1 = vulnerabilities found regardless of the output.

https://github.com/freebsd/pkg/blob/671087ce649ea0a888cf753ce01293ee0a732785/src/audit.c#L320

[2016-09-20 20:56] edgarmaloverian opened #282 "running lynis via ansible breaks web page"
I spotted interesting behaviour, while running lynis from shell
`$ ssh ansible@somehost sudo /usr/sbin/lynis audit system --quick --upload --profile custom`
works okay, running via ansible with become:
`command: sudo /usr/sbin/lynis audit system --quick --upload --profile custom`
kinda works, but breaks layout on hosted enterprise version (hardening sections gets missing)
that's probably has somet

[2016-09-21 06:18] mboelen commented on #282
Might be better indeed to share the output via email, so we can have a look at the additional data added. Possibly it can be scrubbed before uploading.

[2016-09-21 06:23] edgarmaloverian commented on #282
may be you can sport what environment makes a difference to script?
local report looks very similar.

	ansible:

	lynis audit system --quick --upload --profile custom
SUDO_GID=1000
MAIL=/var/mail/root
LANGUAGE=en_US:
USER=root
HOME=/root
SUDO_UID=1000
LOGNAME=root
TERM=xterm
USERNAME=root
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin
LANG=en_GB.UTF-8
SUDO_COMMAND=/bin

[2016-09-21 13:54] mboelen commented on #282
I don't think any shell variables have a direct impact. You could run a diff on the reports (one via Ansible, one directly as root).

[2016-09-22 15:14] mboelen commented on #280
@inferiorhumanorgans the test has been adjusted and tested on FreeBSD. Can you check if your output looks better now as well?

[2016-09-22 15:25] mboelen commented on #112
@Huskynarr Do you still have this problem with the latest version?

[2016-09-22 15:27] mboelen commented on #146
Closing this issue for now, due to limited benefit yet high complexity to get it right. Nice to have for later.

[2016-09-22 15:27] #146 closed

[2016-09-22 15:27] mboelen commented on #171
Hi @rhyven, do you have a few minutes to test if things work for you with the new method?

[2016-09-22 15:40] inferiorhumanorgans commented on #280
That looks good, I'll check it out tonight.  Ultimately it would be nice to display the associated CVEs. Unfortunately it looks like pkg doesn't output machine readable output.

[2016-09-22 18:29] mboelen opened #283 "MaxAuthTries with value 1 is too strict"
Due to publickey authentication this value might be too strict.

[2016-09-23 00:46] inferiorhumanorgans commented on #280
OK. Looks good to me, however... in looking at the lyinis output I saw:

[code]

And running portaudit returns:

[code]

I'm not sure what the policy is on supporting legacy operating systems, nor do I know when portaudit was changed over to call pkg directly.  Perhaps it would be worth making PKGS-7382 conditional on pkg not existing or warning if portaudit is installed?

[2016-09-23 23:06] d4t4king commented on #277
Here are the files listed in the package (apologies it's a bit long):
[code]

[2016-09-23 23:11] d4t4king commented on #277
Well, I just did a fresh pull, to try to collect the relevant log file section(s), and it looks like it's working now.  Thanks!

[2016-09-24 12:12] rhyven commented on #171
Hey @mboelen, long time no see  ;-)  Absolutely, I'll aim to test it out in the next 24 hours.

[2016-09-25 10:23] rhyven commented on #283
Really?  With Pubkeys, I'd think that any failures at all means they're connecting with an incorrect key anyway.  I think MaxAuthTries = 1 is quite a reasonable configuration.

[2016-09-25 10:25] rhyven commented on #171
10/10.  Rewritten test seems to work perfectly.  Thanks!  I'll close the issue  :)

[2016-09-25 10:25] #171 closed

[2016-09-26 09:37] mboelen commented on #282
This problem has been solved. The underlying cause was a plugin.

[2016-09-26 09:37] #282 closed

[2016-09-27 21:17] kboratynski commented on #283
@mboelen : `$HOME/.ssh/config`.

[2016-10-06 09:36] mboelen commented on #112
Closing this issue, as no feedback came and can't be reproduced in our environment.

[2016-10-06 09:36] #112 closed

[2016-10-10 14:23] vr opened #286 "Lynis is broken on Freebsd"
because of this commit : https://github.com/CISOfy/lynis/commit/eded02cfde6a48270b975d8390dac44b3ad22f35

error is :
`lynis/include/tests_kernel_hardening: arithmetic expression: variable conversion error: "HPTOTAL + HPADDMAX"`

[2016-10-10 14:39] vr commented on #286
Well `/bin/sh` is not bash on freebsd, and you use bashism since this commit.

If i do a `bash lynis audit system` it works, but i get this : `/lynis/include/functions: line 118: 1Do: value too great for base (error token is "1Do")`

[2016-10-10 17:56] mboelen commented on #286
Thanks for reporting.

What FreeBSD version is this? On my 10.2 test system this does not result in an error.

Our project avoids bashism and the $((x+y)) is [POSIX compliant](http://pubs.opengroup.org/onlinepubs/9699919799/utilities/V3_chap02.html#tag_18_06_04). So I don't think that's the cause.

What does your lynis.log show. How far did it get before it showed the error?

[2016-10-11 15:03] ogmueller opened #287 "atomic skip for php tests"
This is a feature request.

It would be really nice to be able to skip atomic tests within the php tests.
So something like:

[code]

would not skip the whole PHP-2372 tests, but only the expose_php option test within it.

The ssh tests do allow that. E.g. with:

[code]

The php tests are a little bit of guess work, because it won't check other INI files, which are listed with e.g. "php --ini" and

[2016-10-11 17:18] mboelen commented on #287
Sounds like a good plan. Want to help getting it implemented?

[2016-10-12 09:03] ogmueller commented on #287
I was just about to help and implement it, but when I was looking into the source code more closely, I discovered, that the atomic tests are not needed, because the php tests are done separately. So each of the config value tests have a different test number.

The ssh tests are really nice and I like the idea of having those tests combined as one "lynis number", because they are testing the config

[2016-10-12 13:27] ogmueller opened #288 "DBS-1816: mysql root user with empty password check not working correctly"
The test DBS-1816 checks whether the root user has set a password or not. Depending on the mysql-server and setting, this test or detection is not sufficient anymore. Since mysql has more authentication methods/plugins now.

A mysql installation may use the authentication plugin [auth_socket](https://dev.mysql.com/doc/mysql-security-excerpt/5.5/en/socket-authentication-plugin.html) for user root.

[2016-10-13 01:59] marcus-cr opened #289 "Little Snitch (FW) Support - MacOS (Sierra)"
Hello,

I have the firewall Little Snitch installed on MacOS Sierra however Lynis doesn't seem to support this application. Since it monitors incoming and outgoing communications (unlike the built-in firewall), I left MacOS' firewall disabled and use Little Snitch instead. Lynis only recognizes that pf isn't active. Hopefully this is an easy remedy!

[2016-10-13 08:38] mboelen commented on #289
Thanks. We are are updating Lynis to support Sierra. Will link this to the project.

[2016-10-13 08:42] mboelen commented on #288
Thanks for letting us know. We know that some things can't checked easily. Looks like this test is now one of them.

[2016-10-13 09:51] mboelen opened #290 "Exception: no listen statement found in CUPS configuration"
Performing test ID PRNT-2308 (Check CUPSd network configuration)
Test: Checking CUPS daemon listening network addresses
Exception: test has an exceptional event (PRNT-2308:1) with text No listen statement found in CUPS configuration file
Result: CUPS daemon is running on several network addresses
Suggestion: Check CUPS configuration if it really needs to run on several network addresses [test:PRNT

[2016-10-13 18:21] mboelen commented on #286
Hi @vr, can you share additional details?

[2016-10-14 20:46] edgarmaloverian commented on #286
getting same error on FreeBSD fbsd11 11.0-CURRENT FreeBSD 11.0-CURRENT #0 r285616
exact place is:
[code]

[2016-10-14 20:56] edgarmaloverian commented on #283
not sure, having two keys I saw this on MaxAuthTries1
[code]

[2016-10-15 09:58] mboelen commented on #289
It does now. Run a git pull and run Lynis. Does it get detected now?

[2016-10-15 13:17] mboelen commented on #286
Thanks @edgarmaloverian for the confirmation. The problem was in the default.prf and is now fixed.

[2016-10-15 13:17] #286 closed

[2016-10-16 06:25] marcus-cr commented on #289
Perfect, it passed for Little Snitch. Cheers!

[2016-10-16 07:49] rhyven commented on #283
@edgarmaloverian -- That's interesting, I didn't realise that presenting an unrecognised key counted as an authentication attempt.  Presumably your DSA key has been added to the authorized_keys file then, but your RSA key is being offered first.

Does it successfully authenticate with MaxAuthTries 2, then?

[2016-10-16 08:13] mboelen commented on #289
Thanks, closing this issue.

[2016-10-16 08:13] #289 closed

[2016-10-16 14:07] mboelen opened #291 "IsContainer function"
Lynis needs a function to detect if it is running in a container, like Docker.

[2016-10-16 14:07] mboelen commented on #291
Implemented with https://github.com/CISOfy/lynis/commit/d0eae6480d95ead463e5e92359df0c1f0caeb2b8

[2016-10-16 14:07] #291 closed

[2016-10-16 18:38] mboelen commented on #280
Can you refresh your install (git pull) and see if this is still true, with the recent changes?

[2016-10-17 08:27] PCarlsson opened #292 "TIME-3104 does not find chrony.conf on Debian"
On Debian 8.6 chrony.conf is located in /etc/chrony/

Change include/test_time from:
`        if [ -f /etc/chrony.conf ]; then
            IsRunning chronyd
            if [ ${RUNNING} -eq 1 ]; then
                FOUND=1; NTP_DAEMON_RUNNING=1; NTP_CONFIG_TYPE_DAEMON=1; NTP_DAEMON="chronyd"
                Display --indent 2 --text "- NTP daemon found: chronyd" --result "${STATUS_FOUND}" --color

[2016-10-18 05:58] marcus-cr commented on #264
With a bit more information from @Geyup I can see if I can contribute and make a pull request. You're running Slackware? Still have the log handy?

[2016-10-19 09:29] mboelen commented on #292
Thanks for reporting. A slightly different change has been applied. Can you check if it is properly detected for you now as well?

https://github.com/CISOfy/lynis/commit/f18ef5c21029ba47773ad604a1c15ef26a3859c5

[2016-10-19 09:29] mboelen commented on #280
Hi @inferiorhumanorgans, do you have the change to check if the recent changes made any difference for you?

[2016-10-19 10:01] PCarlsson commented on #292
Hello! Seems to work properly! Thanks! /Peter

[2016-10-19 10:01] #292 closed

[2016-10-20 02:31] Geyup commented on #264
Slackware 14.2 :)

Log; http://dpaste.com/3A1GK53

[2016-10-20 06:37] marcus-cr commented on #264
Your log compares fairly well to my fresh Linux installs, which usually average an index between 65-70. @mboelen: would you assign this to me? I'll see what I can do with a new pull request. Perhaps a new machine role would be a nice enhancement... such as having the roles as: server, workstation (current desktop role), and a new desktop or a "light" role for more flexibility?

Regarding some of y

[2016-10-20 06:46] mboelen commented on #264
Let's use the following roles, to avoid confusion between workstation/desktop:
- Server (server installations)
- Workstation (system used by an employee)
- Personal (system owned by an individual, not part of a company)

Hereby @marcus-cr is assigned (can't do it via GitHub on this issue). Please create individual pull requests, so they can quickly be reviewed and approved. Thanks for your help!

[2016-10-20 12:04] marcus-cr commented on #264
@Geyup give this a try. You'll have to edit your profile file in the main lynis directory, but you can  copy the default profile to a new file then issue the --profile option to select it.

`$ cp default.prf personal.prf`
`$ vim personal.prf`

Change machine role to personal, save the file, then run lynis with following command plus any others you choose: `./lynis audit system --profile personal.p

[2016-10-20 12:14] marcus-cr commented on #264
Also, there is a section in the profile where you can skip tests (e.g. `skip-tests=FILE-6336`). Just replace the FILE-6336 with the particular test ID you want to skip. I'll have to get my hands on Slackware for further testing if needed.

[2016-10-20 12:21] marcus-cr commented on #226
Working on adding support for this manually, since no further information was provided.

[2016-10-20 12:30] marcus-cr commented on #226
@Pavornoc there actually is a difference with lynis' tests. The hardening test you referenced (HRDN-7230) checks for specific malware scanners, like chkrootkit or rkhunter, to be installed. Your Avira antivirus isn't a part of the hardening or malware tests, however I'm adding support to the malware tests to recognize it running.

[2016-10-20 13:21] marcus-cr commented on #226
@mboelen: here's the list of process that run with Avira (free)
- AV_Systray
- avbackendproxy
- avguard-ondemand-mgmt
- avguard-scanner (ten individual processes)
- avguard.bin
- avlogwriter
- avqmd (two instances)
- avsavapi-super
- AVStats
- avwatchdox.bin
- savapi

Golden ticket could be avguard-ondemand-mgmt, avguard-scanner or avqmd

[2016-10-21 01:42] Geyup commented on #264
@marcus-cr sorry you lost me, why do I need to change it to personal.prf and run it this way? Nothing has been changed, it's sill Lynis 2.3.4, so I'm not following?

[2016-10-21 02:57] Geyup commented on #264
Something I overlooked, Slackware doesn't use dhclient.

lynis.log shows:

Performing test ID NETW-3030 (Checking DHCP client status)
IsRunning: process 'dhclient' not found

Slackware uses the DHCP client program dhcpcd.

[2016-10-21 04:27] marcus-cr commented on #264
The commit you see hasn't been approved and merged yet, so it may be restricted for now.. And not having Slackware leaves me a bit limited with testing. I've forked this repo and made some adjustments you can see. I made a direct mention to you in the comments for easier finding.

With lynis you can create your own auditing templates. There is a default.prf template that comes with lynis in the ma

[2016-10-21 21:44] Geyup commented on #264
On the commit, that is what I was thinking, wasn't in yet...

As far as the copying the profile and changing, running etc., yes I am aware of these things, but for now, not much of anything to change for any benefit.

Please don't forget what I mentioned about dhcpd in slackware, for a possible change in Lynis.

Well if you don't have Slack, there is always getting the ISO and VirtualBox... Hint H

[2016-10-21 21:48] Geyup commented on #264
By the way looking at your commit for DHCP, maybe there are many other distros out there also using dhcpd, which I thought was pretty common.

if [ ${OS} = "Slackware" ]; then

I'm not great with code, but maybe better to have tthis just look for it rather then rely on any particular distro, that way any and all distros using this will benefit...

[2016-10-22 00:00] marcus-cr commented on #264
Good call, I'll adjust this and make new commit. Let me know if it detects your dhcpcd process. I'm considering getting Slack on a VM, but don't want to go through the hoops of configuring from scratch (done that enough by now haha).

[2016-10-22 06:31] marcus-cr commented on #226
Process of elimination brought the list down the the following candidates:
- AV_Systray
- avguard-ondemand-mgmt
- avqmd
- avguard.bin
Termination of these processes seem to stop protection until some other process(s) re-launches it. I'm betting on avqmd, or avguard.bin, being the daemon needed to support recognition that Avira AV is installed. @mboelen, your thoughts on this?

[2016-10-22 06:35] marcus-cr commented on #264
Go ahead and test it now @Geyup. I've made the changes to detect dhclient _or_ dhcpcd running independently without detecting the OS. New pull request was made, issue #298.

Let me know if it works for you now!

[2016-10-24 01:01] marcus-cr opened #305 "Test group "nameservices" continues without /etc/resolv.conf"
After installing fresh copy of macOS Sierra in virtual machine without internet connection Lynis will continue the nameservices test group and provides incorrect results:

Log shows it found " " line(s) with search statement while expecting less than 2 lines. The log above shows <null> whereas the actual log showed a blank space.

Test results displayed at end of testing also shows incorrect resul

[2016-10-24 03:34] Geyup commented on #264
Ok...

First, I ran this as; ```lynis audit system --profile personal.prf``` and then it says;

```Profiles:                  /etc/lynis/default.prf```

I expected this to say personal.prf that looks confusing...

Next I removed under the Plugins pam and systemd, so I'd assume there would be no testing for Pam;

 - PAM password strength tools                               [ SUGGESTION ]
  - PAM co

[2016-10-24 03:43] Geyup commented on #264
Later if possible, it wouild be nice to have options in the default.prf to comment out these, so they are not tested, and uncommented for those that want them tested, etc...

Checking UEFI boot
PAM
LDAP authentication support
NFS
Printers and Spools
e-mail and messaging
webserver
SSH
SNMP
Database
LDAP Services
PHP
Squid
Time and Synchronization

All these I listed above, I personally don't use, a

[2016-10-24 03:56] Geyup opened #306 "Suggestions - How To Solve"
I noticed on the website for the URLs you can look up for the ```Suggestions``` and noticed that the ```How to solve``` sections do not really show you how to slove these issues, rather it's just explaining the situation instead...

It would be really great if all the Suggestions - How to Solve sections were updated with actual examples of how to really solve many of these situations.

Here's a pe

[2016-10-24 10:06] mboelen commented on #306
Thanks for bringing this up.

We currently don't provide scripts on our website. Lynis evolved over the last years, and previously only showed the warnings. Now we do link to the website, to provide more details, and when possible link to a blog post. So although I do agree more information on the "solving" part, it remains a work in progress. Our first priority is to keep enhancing the Lynis tool

[2016-10-24 10:06] #306 closed

[2016-10-25 09:25] jpartain89 opened #307 "macOS 10.12.1 comes up Undetectable"
It looks like its specifically due to the calling of `/usr/bin/sw_vers -productVersion` and its response being `10.12.1` rather than `10.12`, and the `include/osdetection` only parsing for 10.12 rather than 10.12.1, or allowing the 10.12.x compatibility.

[2016-10-26 10:22] mboelen commented on #307
Thanks, the routine has been extended to detect both now.

[2016-10-26 10:28] #307 closed

[2016-10-27 15:54] manasb commented on #286
I had been running Lynis with bash. though that could be a security issue itself, comments?

[2016-10-27 16:13] mboelen commented on #286
@manasb You are welcome. But this is not the right place discussion. Feel free to send an email to the lynis-dev@cisofy.com. Maybe we can make a nice blog post for it.

[2016-10-28 02:10] marcus-cr commented on #264
Did you copy the file "default.prf" into a new file and edited the new one? Do not remove the PAM plugin lines from the new .prf file, instead you must comment it out by adding # in front of the PAM plugin lines. Are you positive that "dhcpd" is running while you performed the audit, and are you sure that you're using the latest version from GitHub that has the changed networking test to accommoda

[2016-10-28 14:18] jpartain89 opened #309 "Naming Convention for macOS"
While looking through all of the code, it looks like the formatting of `macOS` is a tad bit all over the place. While it might not necessarily cause issues, with macOS being case-sensitive, and having a stray `Macos` or `MacOS` could potentially cause issues.

I'm submitting this here rather than a pull request, because there is simply SO MANY instances of `macOS`

[2016-10-28 14:42] mboelen commented on #309
Good observation. The detection string to see if a test needs to be executed is "MacOS". This is since the time that it was Mac OS X. It would be fine to replace all strings that refer to Mac OS X and "MacOS" and replace them with the new "macOS".

Although an inline grep and replace could be done, this might be better be done in phases (e.g. per file), to ensure that things don't break. Obviously

[2016-10-28 15:50] mboelen commented on #305
Good catch. Are you running Sierra in a VM on Sierra? Trying to simulate the issue, but can't get that to work.

[2016-10-28 20:36] marcus-cr commented on #305
Yes, I was running Sierra in a VM on Sierra. Prior to installing macOS Sierra in the virtual machine I made sure all of the VM's network adapters were disconnected. Naturally macOS didn't generate the /etc/resolv.conf file because of this, that would be the best way to replicate the issue.

[2016-10-31 16:57] jpartain89 commented on #309
So, just to confirm on this one, for the OS's that are 10.11 and below (El Capitan and lower) the OS= should be "macOS" for ubuquity and simplicity sake. But do we want to keep the "Mac OS X El Capitan" nomenclature for earlier versions, aka OS_FULLNAME?

[2016-11-01 03:54] Geyup commented on #264
Does 2.4.0 have all these changes commited? If so, let me grab that and test again...

[2016-11-01 04:09] Geyup commented on #264
With 2.4.0 I copied default.prf to personal.prf and edited these lines;

# Defines the role of the system (personal, workstation or server)
machine-role=personal

# Profile name, will be used as title/description
profile-name=Personal

Plugins
#plugin=pam
#plugin=systemd

I then ran the cmd as;

lynis audit system --profile personal.prf

And the output still shows as;

Profiles:                  /

[2016-11-04 16:08] sokorn opened #312 "Unknown OS found in /etc/os-release"
Script says unknown OS
[code]

Lines in output:
[code]

Corresponding file:
[code]

[2016-11-05 00:33] jots opened #314 "hangs in /usr/bin/journalctl --list-boots"
on CentOS Linux release 7.2.1511 (Core)

when running it hangs at:
 - Plugin: systemd
    [.......]

top show this using 100% cpu:
 /usr/bin/journalctl --list-boots

may be related to https://github.com/systemd/systemd/pull/3114  which I haven't dug into yet.

[2016-11-05 10:17] mboelen commented on #314
Looks like you found the right cause. As this issue is in an external tool, we can't fix it. Normally we would look into working around the issue by doing a specific check. In this case, there is not an obvious check to perform.

So one thing you could do is exclude the particular test in your custom.prf profile. Do you have it on all your systems, or just one?

[2016-11-05 14:40] alienpussy opened #315 "Tool fails with lynis/include/osdetection: line 458: READLINKBINARY: parameter not set"
I can not use this tool. It fails on every attempt to execute it with this error:
[code]

I am using a small custom linux with busybox.

[2016-11-06 05:54] rkubik opened #316 "Software: System tooling - TypeError on fail2ban audit"
Using version 200 on 64-bit Debian 8.4 Jessie.

[code]

[2016-11-06 06:02] #316 closed

[2016-11-07 10:47] FreshXOpenSource opened #317 "/root/.ssh not found on MacOS"
The root home on OSX by default resides in /var/root, hence the .ssh folder can be found there but is not detected by lynis (yet)

[2016-11-07 11:36] mboelen commented on #317
Thanks for creating this issue. To ensure we focus on the right test, can you share the specific test to which this applies?

[2016-11-07 12:40] FreshXOpenSource commented on #317
[code]

[2016-11-07 13:59] novaksam commented on #315
I worked around this by removing the check for it in the if statement, which works for me since I'm not trying to deploy this to production.

[2016-11-08 16:50] caderobinson opened #320 "Errors in test FIRE-4508 (Check used policies of iptables chains)"
When running the firewall tests on an Arch machine I get errors:
[+] Software: firewalls
------------------------------------
  - Checking iptables kernel module                           [ FOUND ]
    - Checking iptables policies of chains                    [ FOUND ]
/usr/share/lynis/include/tests_firewalls: line 109: warning: command substitution: ignored null byte in input
/usr/share/lynis/inc

[2016-11-08 16:59] caderobinson opened #321 "Error in boot_services test BOOT-5104"
Get a null byte warning in the boot services test on Arch.
[+] Boot and services
------------------------------------
/usr/share/lynis/include/tests_boot_services: line 74: warning: command substitution: ignored null byte in input
  - Service Manager                                           [ systemd ]

The log it seems to be working:
2016-11-08 10:50:57 Performing test ID BOOT-5104 (Determine se

[2016-11-08 18:45] mboelen commented on #321
Thanks for reporting. Looks like a "\0" that might be in the output. What does this command below show for you:
tr -d '\0' < /proc/1/cmdline | awk '/(^\/|init)/ { print $1 }' | hexdump -c

[2016-11-08 18:47] mboelen commented on #320
Looks similar to the other issue #321 you reported. Can you alter the command executed for that and add a hexdump -c, to confirm there is a "\0" byte?

[2016-11-08 18:49] mboelen commented on #315
Thanks for reporting. The variable has been added in commit https://github.com/CISOfy/lynis/commit/b5a1deae47247589167c8ea37d1f25c760e8922d, so you don't get the error anymore.

[2016-11-08 18:49] #315 closed

[2016-11-08 18:54] mboelen commented on #312
Can you refresh your clone and see if the [DEBUG] line is gone?

What does the `lynis show os` output show?

[2016-11-08 19:04] caderobinson commented on #321
I think the null byte is related to readline 7.
I had a bunch of Arch "testing" packages installed and reverted readline from 7 to 6.3 and the null byte goes away. Might be a heads up that it is coming thought.

[2016-11-08 19:07] caderobinson commented on #321
This is the output:
$ tr -d '\0' < /proc/1/cmdline | awk '/(^\/|init)/ { print $1 }' | hexdump -c
0000000   /   s   b   i   n   /   i   n   i   t  \n
000000b

vs without the "tr"
$ awk '/(^\/|init)/ { print $1 }' /proc/1/cmdline | hexdump -c
0000000   /   s   b   i   n   /   i   n   i   t  \0  \n
000000c

[2016-11-08 19:15] caderobinson commented on #320
The output when running the script of "/usr/share/lynis/include/tests_firewalls: line 109: warning: command substitution: ignored null byte in input" think is related to readline 7. Reverted to  6.3.008 and it went away but the test still has the one giant string.

# iptables -t filter --numeric --list | egrep -z -o -w  '[A-Z]+' | awk -v t=filter 'NR%2 {printf "%s %s ",t, $0 ; next;}1' | hexdump -

[2016-11-08 19:42] mboelen commented on #321
Good to know about readline 7. I had a quick peek in their change log, but can't make up if it is intended behavior or a bug on their side. So before we start stripping things, I propose we leave things in Lynis as-is. If the warning shows up, this ticket will act as a reference.

Thanks again for providing this feedback.

[2016-11-08 19:43] mboelen commented on #320
Same as #321, so closing this issue now that it is clear that the same package is causing this.

[2016-11-08 19:43] #320 closed

[2016-11-08 20:37] caderobinson commented on #320
There is still an issue though with the policy per chain not parsing correctly though with  the "null byte" errors gone:
2016-11-08 14:11:59 ===---------------------------------------------------------------===
2016-11-08 14:11:59 Performing test ID FIRE-4508 (Check used policies of iptables chains)
2016-11-08 14:11:59 Test: gathering information from table filter
2016-11-08 14:11:59 Result: iptab

[2016-11-09 15:39] sokorn commented on #312
I did a new git clone and the [DEBUG] line ist still there.
[code]

[2016-11-11 05:48] aw opened #324 "Check modify time of old files instead of access time"
Hi,

Just looking at [include/tests_filesystems](https://github.com/CISOfy/lynis/blob/master/include/tests_filesystems#L337) I noticed the `-atime` flag is used for files in `/tmp` which may not provide useful results:

1. Occasionally filesystems are mounted with `noatime`, so that value would never be updated.
2. It is possible for a file to be modified without the `access time` being modified,

[2016-11-11 06:14] marcus-cr commented on #317
The root directory `/var/root` in macOS doesn't have a file or directory `.ssh`. Typically this is found in the user's home directory, such as `/Users/marcus/.ssh`. It isn't created until the non-privileged user actually uses SSH for the first time, so it seems.

[2016-11-11 06:53] marcus-cr commented on #309
Gotta love Apple's rebranding... I second this proposal.

For simplicity it would seem best to stick with `OS=macOS` and `OS_FULLNAME=Mac OS X El Capitan`. Apple seems to be remaining faithful to their pre-10.12 version names.

[2016-11-11 07:15] marcus-cr commented on #117
@pcastellazzi Would you be able to provide the details of that test?
`$ lynis show details PKGS-7387` should show your results.

[2016-11-11 09:33] FreshXOpenSource commented on #317
/var/root/.ssh is  used only if you work / use SSH as root (which is not the case on default macOS systems). The question in the end is if lynis
- runs regularly as root in a cron job etc to monitor systems -> then its a good test still or if it
- runs occasionally as a user -> then a proper usage of sudo is the better way

[2016-11-11 15:32] nstr10 opened #326 "SSH Required to Clone"
The documentation states that one should run `git clone git@github.com:CISOfy/lynis.git` to get started.

Outbound SSH is disabled on many organization's networks (mine included) so you may want to make a note of that in the documentation and offer an alternate solution.

[2016-11-11 18:35] mboelen commented on #324
Thanks for the digging work :) We actually had it at mtime before, but due to the nature of storing temporary files, it is more interesting to know what files are recently used. All others are good candidates for being cleaned, obviously with checking first by the admin.

The test will never be perfect, as there are a lot of different use-cases and many software packages dealing with /tmp in a dif

[2016-11-11 18:35] #324 closed

[2016-11-11 18:37] mboelen commented on #326
Thanks for letting us know. It has been altered in the README.me to git clone https://github.com/CISOfy/lynis, which is a more firewall-friendly way :)

[2016-11-11 18:37] #326 closed

[2016-11-11 22:39] marcus-cr commented on #317
Yes, the root account is disabled by default. You have the ability to run lynis as a privileged user or non-privileged user with the `--pentest` option. Normally I run lynis manually instead of as a cron job. @mboelen may be able to assist with your new question.

[2016-11-12 23:22] jpartain89 opened #327 "PKGS-7390 & 7392 for macOS"
While running on macOS, the tests PKGS-7390 & PKGS-7392 come out in the final "Skipped Tests Due to non-privileged mode."

Shouldn't that be ignored since I'm on macOS? And I would submit through pull request, but thats an extra step I've yet to fully suss out in the scripts.

[code]

[2016-11-13 15:24] mboelen commented on #327
Makes sense to add an operating system check to it. What do you mean it is an extra step in the scripts?

[2016-11-14 08:28] #321 closed

[2016-11-14 23:21] jpartain89 commented on #327
Adding the OS check, I would've done it myself but I haven't yet looked deeply into how that part works.

[2016-11-18 00:44] marcus-cr commented on #327
@jpartain89 Did you run lynis with `--pentest` or with a non-privileged user? Either way lynis skips PKGS-7390 and PKGS-7392 on macOS when running as a privileged user:

2016-11-17 19:38:36 Skipped test PKGS-7390 (Check Ubuntu database consistency)
2016-11-17 19:38:36 Reason to skip: Incorrect guest OS (Linux only)
2016-11-17 19:38:36 ===------------------------------------------------------------

[2016-11-18 09:32] noci2012 opened #330 "Script fails: /usr/share/lynis/include/tests_kernel"
V2.1.1
[+] Kernel
------------------------------------
  - Checking default run level                                [ 3 ]
  - Checking CPU support (NX/PAE)
    CPU support: PAE and/or NoeXecute supported               [ FOUND ]
  - Checking kernel version and release                       [ DONE ]
  - Checking kernel type                                      [ DONE ]
  - Checking loaded kernel mo

[2016-11-18 10:46] hyperized opened #331 "Feature request - json output"
We'd love to receive the output of the results to be optionally given in `json` format so we can automatically parse the output and compile reports for our machines.

This could be given in the shape of the `--report-json` parameter. This can be combined with the `--quiet` parameter to skip the 'checking' results.

Thanks!

[2016-11-18 14:52] mclucario opened #332 "Error: Invalid option system!"
**OS:** Debian 8.6
**Lynis Version:** Lynis 1.6.3 (APT-GET)

Hey, when I try to use "lynis audit system" I just get the error "Error: Invalid option system!". I took the stuff from the getting started page and im kind of confused.

[2016-11-18 15:15] mboelen commented on #331
Thanks for your request. As we use shell script for this project, outputting in json is not that easy. Did you see the lynis-report.dat file?

[2016-11-18 15:28] hyperized commented on #331
I did not see the .dat file (will check it out), we were looking into doing this runtime, to compile a list of all unique issues / warnings to feed right into our ticket system.

But I understand that JSON is not a native shell experience and will likely include unwanted dependencies.

Having the .dat files will probably solve our need for now.

[2016-11-18 15:34] mboelen commented on #332
I see you got an old version of Lynis. Update to the latest one by using the version from GitHub, our website, or the software repository: https://packages.cisofy.com

That should solve it. If so, please leave a star :)

[2016-11-18 15:34] #332 closed

[2016-11-18 15:36] mboelen commented on #331
Sounds good and yes, we rather don't add any dependencies. Most likely it will be what you are looking for, as it is the raw data.

Will close this ticket. And please leave a star if you like Lynis :)

[2016-11-18 15:36] #331 closed

[2016-11-18 22:33] d4t4king commented on #331
It's not JSON, but I could probably add that as a feature.....

https://github.com/d4t4king/lynis_report

[2016-11-19 12:51] mboelen commented on #330
Thanks for this catch. Would like to contribute by turning this into a pull request? This way you become history in the shared efforts of the project. If this is your first pull request: https://help.github.com/articles/creating-a-pull-request/

[2016-11-19 13:00] mboelen commented on #331
Thanks @d4t4king for the addition and being part of the Lynis ecosystem.

One suggestion from my side: your existing tool name collides with the generic name "lynis report" and might confuse people. A better name could be Lynis Report Export or Lynis Report Converter. This way you might get more hits when people search for the outcome they want to achieve, and also the purpose of your tool.

[2016-11-19 14:41] mboelen commented on #327
The Register() function in include/functions has been altered to only show skipped privileged tests in non-privileged mode, if they were not skipped for other reasons (e.g. incorrect platform, configured, or other prerequisites).

Thanks for pointing this out, as it results in less output on the screen.

[2016-11-19 14:41] #327 closed

[2016-11-19 15:08] mboelen commented on #314
Hi @jots, can you answer the question above? Then we can make a decision regarding this issue.

[2016-11-19 15:10] mboelen commented on #309
As this has been implemented by @jpartain89 in https://github.com/CISOfy/lynis/commit/50b06efd303fa82284dfa1fd083ed18fa8a55ec6, I'm closing this issue. Thanks :)

OS=macOS
OS_FULLNAME depends on the version (before 10.12 will be Mac OS X, otherwise macOS).

[2016-11-19 15:10] #309 closed

[2016-11-19 20:18] d4t4king commented on #331
Thanks for the feedback, @mboelen.  I'll take it into consideration.

@hyperized I've added JSON output (pipe to `/usr/bin/json_pp` for pretty print), and am working on XML.

[2016-11-21 22:58] noci2012 commented on #330
I cannot fix it in 2.1.1.. After forking 2.1.1 is not editable.
in Master (2.4.0+) is has been fixed. (probably before that one).

line 537:         elif [ ! "$(ls ${ROOTDIR}boot/kernel* 2> /dev/null)" = "" ]; then

[2016-11-22 16:36] opoplawski opened #334 "False positive MAIL-8818 when postfix is not listening on any socket"
We configure postfix for outgoing only messaging - so it is not listening on any socket and so check MAIL-8818 is not relevant.

Unfortunately, it does not look like postconf reports this.  But perhaps you could test for the presence of running smtpd processes.

[2016-11-24 12:36] mboelen commented on #334
Thanks for reporting this. Do you get a specific message?

[2016-11-24 12:37] mboelen commented on #330
Ok, if I understand correctly is already has been fixed and this issue can be closed. Thanks for reporting.

[2016-11-24 12:37] #330 closed

[2016-11-25 19:44] d4t4king opened #335 "Inconsistent key name: localhost-mapped-to"
More (if not all, except this one) key names in the lynis-report.dat are named using the underscore.  The subject key name uses hyphens, which inconsistent with the rest of the tool.

[2016-11-27 18:16] mboelen commented on #335
That is a good observation. We started years ago with underscores. Slowly we will migrate everything to hyphens, starting with the profiles.

[2016-11-29 13:28] mboelen commented on #335
Closing this item, as this is work in progress (for longer period of time).

[2016-11-29 13:28] #335 closed

[2016-11-29 21:37] d4t4king opened #336 "Invalid key in lynis-report.dat"
```Result: expose_php option is turned on, which can expose useful information for an attacker```

The above bare line was found in lynis-report.dat and not associated with any key; i.e. did not match the "key=value" format for the file.

[2016-11-30 19:19] mboelen commented on #336
What do you mean it is not associated with any key? Do you mean it is listed as a suggestion, but no other lines related to that issue where stored?

[2016-11-30 22:41] d4t4king commented on #336
Here is a snippet from `lynis-report.dat`:
[code]

[2016-12-02 22:47] opoplawski commented on #334
yeah, the MAIL-8818 one:
[code]

[2016-12-06 15:49] mboelen commented on #336
Some keys are not stored, it depends on the test. Any specifics you were looking for to parse?

[2016-12-06 20:03] d4t4king commented on #336
Not storing a key in the "report" breaks the rule of "key=value" pair, established by the majority of the output, forcing the parser (whether human or programmatic) to toss out the errant value(s) as anomalous.

[2016-12-07 13:09] pcastellazzi commented on #117
[code]

[2016-12-09 02:17] Geyup commented on #264
Hey I'm starting to loose track here, without a reply for so long... LOL

Ok after reading over again, I ran ```lynis audit system --profile personal.prf``` is it suppose to show both when it runs now as?

```Profiles: /etc/lynis/default.prf personal.prf```

[2016-12-10 09:35] mboelen commented on #264
Yes, if you provide a profile, it will show both. Lynis will always use default.prf. If it can find custom.prf, it will apply those changes on top of default.prf. If you provide a profile with --profile, then that one will be applied on top of the previous two.

You don't actually have to copy default.prf. Simply add your specific changes to custom.prf will do the trick as well. This custom.prf ca

[2016-12-13 03:22] Geyup commented on #264
ok thanks

[2016-12-13 22:29] rkubik opened #337 "Report for files that are not from a package management system"
Even better, report for files that are not from a signed RPM package or trusted APT repository. If this is something you would accept as a PR I don't mind starting the work.

[2016-12-14 21:41] quantumpacket opened #338 "'cat' Binary Not Being Found?"
I was having issues with the AppArmor tests and narrowed it down to it not being able to pass the file check on this line [tests_mac_frameworks#L56](https://github.com/CISOfy/lynis/blob/master/include/tests_mac_frameworks#L56). The file does exist and can be read, and I am able to use `cat` on it just fine. So I edited the tests file and echoed `${CAT_BINARY}` right before the point of failure, on

[2016-12-14 23:35] rhyven commented on #338
Could you please post the output of `sudo apparmor_status | grep cat`?

I've had issues with apparmor doing funny stuff and leaving behind no trace, particularly with logrotate and man.  Since you're using it, that's the first thing I'd look into.

[2016-12-15 00:32] quantumpacket commented on #338
Nothing is returned when I run that command.

I don't think this is an issue with AppArmor I had just mentioned it as it was that test file that the issue was found in. The problem as far as I can tell is this line [binaries#L104](https://github.com/CISOfy/lynis/blob/master/include/binaries#L104) is not being triggered so `${CAT_BINARY}` is not being populated from its [default value of empty](htt

[2016-12-15 00:50] rhyven commented on #338
Yep if that grep command doesn't return anything, it's a good indication that AppArmor isn't causing the failure.  I do realise your comments weren't about the tests for AppArmor, it's just that some of the profiles are a bit broken, and I've been bitten by them in the past -- resulting in similar weird behaviour  ;-)

[2016-12-15 04:05] quantumpacket commented on #338
I found the problem. Support for `cat` was added in this commit https://github.com/CISOfy/lynis/commit/1cb1fc40ca5188dd3eef37c853fe3a76b22a37f7 which was 1 day after the 2.4.0 release. However, the broken code in this issue, which is part of 2.4.0 is dependent on that later commit. The test should not have been enabled in a release half completed. :confused:

[2016-12-15 07:49] mboelen commented on #338
Yes, that one is fixed and sorry it gave you troubles. We will be releasing a new version soon.

[2016-12-15 07:49] #338 closed

[2016-12-15 07:53] mboelen commented on #337
Thanks for the suggestion and the proposal to create a PR.

We actually had such test in our plugins, but it takes a long time to complete as you need to check each individual binary. I would suggest running a check like this in a separate cron job (e.g. weekly) as an independent check.

[2016-12-15 07:56] mboelen commented on #336
Discussed this subject internally. Right now such data is not used by our solution, so to keep the report file "lean", we don't store everything. So currently we don't see this as an issue, but that might change over time. Thanks for sharing, appreciated as always :)

[2016-12-15 07:56] #336 closed

[2016-12-15 12:08] virtualjj opened #339 "Amazon Linux AMI - Possible False Positive for Missing Security Packages"
Despite performing updates for security:

![image](https://cloud.githubusercontent.com/assets/10323889/21223256/a55e4b24-c309-11e6-9639-970addeb73b1.png)

Lynis reports a warning for missing security packages:

![image](https://cloud.githubusercontent.com/assets/10323889/21223332/fa40ce32-c309-11e6-8730-756e78ae425f.png)

uname output:

`Linux ip-172-30-6-130 4.4.35-33.55.amzn1.x86_64 #1 SMP Tue D

[2016-12-15 16:17] mboelen commented on #339
And what do you get to see in your lynis.log file?

[2016-12-15 17:08] mboelen opened #340 "PHP support for cPanel installations"
/opt/cpanel/ea-phpXX/root/etc/php.ini
/opt/cpanel/ea-phpXXroot/etc/php.d (directory)

XX can be a version number.

[2016-12-18 13:12] virtualjj commented on #339
Apologies for the delay.

I ran _**yum update --security -y**_, rebooted, and ran Lynis again. I found the same warning - here is what I see in the lynis.log file:

2016-12-18 12:48:56 Performing test ID PKGS-7386 (Check for YUM security package)
2016-12-18 12:48:56 Test: Determining if yum-security package installed
2016-12-18 12:48:56 Test: checking if file /usr/share/yum-cli/cli.py exists
2016-

[2016-12-26 21:48] lpirl commented on #229
Alright I see. Thanks @mboelen.

Very sad that we do not have a way of reliably redirecting all calls to binaries.
However, this is "better than nothing" and will improve over time.

Well, maybe clearing `PATH` and observing what fails might be an option?

I do want to check out this feature (i.e. help testing by opening PRs/issues if something goes wrong) but I cannot commit to do so at the time.

[2016-12-27 13:00] aurelien-git commented on #50
Hi,  It seems I get the same type of error:
Warnings (2):
----------------------------
! klogd is not running, which could lead to missing kernel messages in log files [LOGG-2138]
https://cisofy.com/controls/LOGG-2138/

on a up to date RHEL 7 and last lynis git version
lynis$ sh lynis --version
2.4.1

Any idea?

[2016-12-30 00:55] noci2012 opened #343 "PHP-2211 -- is missing some config files."
php on gentoo misses some directories:

2016-12-30 01:05:05 Result: file /etc/php.ini not found
2016-12-30 01:05:05 Test: checking presence /etc/php.ini.default
2016-12-30 01:05:05 Result: file /etc/php.ini.default not found
2016-12-30 01:05:05 Test: checking presence /etc/php/cgi-php5/php.ini
2016-12-30 01:05:05 Result: file /etc/php/cgi-php5/php.ini not found
2016-12-30 01:05:05 Test: checking p

[2016-12-30 00:58] noci2012 opened #344 "DBS-1882 - misses redis config file:"
It doesn't check for /etc/redis.conf   ( gentoo based system)

[2016-12-30 09:44] mboelen commented on #344
Thanks for reporting. Do you want to create a pull request for that?

[2016-12-30 12:31] noci2012 commented on #344
I didn't lookinto the code yet, but that will be later.

[2016-12-30 12:33] noci2012 opened #345 "AUTH-9308 - mis-identifies correct use of sulogin"
wat gaat er fout:?

2016-12-30 01:02:56 Performing test ID AUTH-9308 (Check single user login configuration)
2016-12-30 01:02:56 Test: Searching /etc/inittab
2016-12-30 01:02:56 Result: file /etc/inittab exists
2016-12-30 01:02:56 Test: checking presence sulogin for single user mode
2016-12-30 01:02:56 Test: Searching /etc/sysconfig/init
2016-12-30 01:02:56 Result: file /etc/sysconfig/init does no

[2016-12-30 21:41] noci2012 commented on #344
https://github.com/noci2012/lynis/pull/1 ??

[2016-12-30 22:33] noci2012 commented on #343
https://github.com/noci2012/lynis/pull/2

(test is still running)

[2016-12-30 23:05] noci2012 commented on #345
https://github.com/noci2012/lynis/pull/3